/* Aside : Right side External menu */
aside {
    position:absolute;
    bottom:calc(100% + 20px);
    right:20px;
    @include res(tablets){
        right:10px;
    }
    @include res(phones){
        right:2%;
    }
}

.external-link {
    //position: fixed;
    z-index: 9;
    //bottom:5%;
    bottom:0;
    right:1%;

    &.afix-on {
        position: fixed;
        bottom:0;
        right:20px;
        @include res(tablets){
            right:10px;
        }
        @include res(phones){
            right:2%;
        }
    }

    opacity:1;
    @include ani(opacity, 0.3s, ease);
    @include res(phones){
        right:2.5vw;    
    }

    &.on-hide {
        opacity:0;
        pointer-events: none;
        @include ani(opacity, 0.3s, ease);
    }
    
    ul {
        padding-bottom:20px;
        li {
            //position:relative;
            + li {
                margin-top:15px;
            }
        }

        @include res(phones){
            $between:3vw;
            padding-bottom:$between;
            li {
                + li {
                    margin-top:$between;
                }
            }
        }
    }

    .ext-item {
        display:block;
        $ico-size:50;
        width:$ico-size+px;
        height:$ico-size+px;
        border-radius: 50%;

        $value:"fare", "timetable", "agency", "fare-pdf";
        @each $item in $value {
            &.btn-#{$item}{
                background:$color-mtr-blue url('#{$img}common/ico/ico_#{$item}.png') center center no-repeat;
                background-size:100% 100%;
            }
        }

        @include res(phones){
            $ico-size:40;
            width:$ico-size+px;
            height:$ico-size+px;
        }
    }

}

.ex-item-detail {
    position:fixed;
    z-index:9999;
    right:90px;
    background-color: #f4ebe6;
    padding:46px 16px 16px;
    opacity:0;
    bottom:0px;
    @include ani-select(opacity 0.3s ease, bottom 0.3s ease);
    
    &.active {
        opacity:1;
        bottom:30px;
        @include ani-select(opacity 0.3s ease, bottom 0.3s ease);
    }

    @include res(tablets){
        width:100%;
        height:100%;
        right:0;

        &.active {
            bottom:0px;
        }

    }
}

.btn-agency-close {
    position: absolute;
    top:20px;
    right:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:20px;
    height:20px; 
    background:url('#{$img}common/ico/ico_close.png') center center no-repeat;
}

// Agency List
.detail-cont_agency {
    overflow: hidden;
    width:700px;
    text-align: center;

    @include res(tablets){
        width:100%;
    }

    .agency-list {
        margin-top:15px;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: flex-start;

        .agency-item {
            max-width:31%;
            width:31%;
            margin:0 1.15%;
            margin-bottom:15px;

            @include res(phones){
                max-width:48%;
                width:48%;
                margin:0 1%;
                margin-bottom:5vw;
            }

            .agency-item_logo {
                position: relative;
                background-color: #fff;
                figure {
                    position: relative;
                    z-index: 0;
                }
                .agency-item_license {
                    position: absolute;
                    z-index: 1;
                    bottom:5px;
                    right:5px;
                    font-family: $font-desc;
                    font-size: 12px;
                    line-height:1;
                    color:#595c61;
                    text-align: right;
                }
            }

            .agency-item_info {
                [class*=agency_info__] {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin:5px 0;
                    a {
                        font-family: $font-desc;
                        font-weight:bold;
                        color:$color-mtr-blue;
                        text-align: left;
                    }
                }                
            }
        }
    }
}

.ico-type-circle {
    display:inline-block;
    $ico-size:33px;
    width:$ico-size;
    min-width:$ico-size;
    height:$ico-size;
    border:1px solid $color-mtr-blue;
    border-radius: 50%;
    margin-right:10px;

    &.ico-website {
        background:url('#{$img}common/ico/ico_website.png') center center no-repeat;
        background-size:100% 100%;
    }

    &.ico-tel {
        background:url('#{$img}common/ico/ico_tel.png') center center no-repeat;
        background-size:100% 100%;
    }

    @include res(tablets){
        $ico-size:25px;
        width:$ico-size;
        min-width:$ico-size;
        height:$ico-size;
    }
    @include res(phones){
        $ico-size:4vw;
        width:$ico-size;
        min-width:$ico-size;
        height:$ico-size;
    }
}