/*---- BREADCRUMBS ----*/
/* ------------------------------------- */

nav.breadcrumb {
    position: relative;
    z-index: 1;

    width:$max;
    max-width:96%;
    margin:0 auto -20px;

    ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: inline;
            + li {
                &:before {
                    display: inline-block;
                    content: '';
                    width:5px;
                    height:9px;
                    vertical-align: center;
                    background: url('#{$img}common/ico/ico_breadcrumb.png') center center no-repeat;
                    background-size:100% 100%;
                    margin:0 10px;
                }
            }

            a {
                font-family: $font-desc;
                font-size: 14px;
                font-weight:normal;
                color:$color-disable;
                letter-spacing: 2px;
            }

            &:last-child {
                a {
                    pointer-events: none;
                }
            }
        }
    }

    [aria-current=page] {
        text-decoration: none;
    }

    @include res(tablets){
        display:none;
    }
  }

  nav.go-to-prev {
      position: relative;
      z-index: 1;
      max-width:30%;
      display:none;
        @include res(tablets){
            display:block;
            padding-left:2%;
            margin-bottom:-5vw;
        }
        @include res(phones){
            padding-left:4%;  
            margin-bottom:-7vw;
        }
        
    a {
        color:$color-mtr-blue;
        &:before {
            display:inline-block;
            vertical-align: middle;
            
            content:"";
            width:1.5vw;
            height:2.8vw;
            background: url('#{$img}common/ico/ico_arrow_left.png') center center no-repeat;
            background-size: 100% 100%;

            @include res(tablets){
                width:1vw;
                height:2vw;
                margin-right:1vw;
            }
            @include res(phones){
                width:1.5vw;
                height:2.8vw;
                margin-right:2vw;
            }

        }
    }
  }