/* Font zoom */
.util-font-zoom {
    .zoom-size {
        display:inline-block;
        font-family: $font-en;
        color:$color-mtr-blue;
        line-height:1;
        padding:5px;

        &[data-size=s]{
            font-size:14px;
        }
        &[data-size=m] {
            font-size:18px;
        }
        &[data-size=l] {
            font-size:22px;
        }

        &:hover {
            background-color: lighten($color-mtr-blue, 80%);
        }

        &.active {
            color: $color-hsr-orange;
        }
    }
}

/* After Selected */
@media only screen and (min-width:1024px){
//------------- S  h2 h3 h4 p  a ,  S  h2 h3 h4 p  a ,  S  h2 h3 h4 p  a   
    $zoom-size:"s" 34 20 20 14 14, "m" 38 24 22 16 18, "l" 42 28 24 20 22;
    @each $size, $h2, $h3, $h4, $p, $btn in $zoom-size {
        .font-size-#{$size}{
            //H2
            h2 {
                font-size:#{$h2}px;
                .sec-tit_txt {font-size:#{$h2}px;}
                .page-heading {font-size:#{$h2 + 2}px;}
            }

            // H3
            h3 {
                font-size:#{$h3}px;
                .sec-tit_txt {font-size:#{$h3}px;}
                &.detail-heading_tit {font-size:#{$h3 + 24}px;}
            }
            
            // H4 
            h4 {
                &.bn-txt_tit {font-size: 50px;}
                &.arti-info_tit {font-size:#{$h4}px;}
                &.article-list_tit {font-size:#{$h4 + 6}px;}
                &.article-detail-list_tit {font-size:#{$h4}px;}
            }
            .detail-heading_subtit {font-size:#{$h4 + 8}px;}
            .path-list-location span {font-size:#{$h4 - 4}px;}
            .path-list-hotspot .article-list_tit {font-size:#{$h4}px;}

            // P, Normal
            p, table, td, th {font-size:#{$p}px;}
            .arti-info_desc, .article-list_desc {font-size:#{$p - 2}px;}
            .cate-label_txt {font-size:#{$p + 2}px;}
            .hsr-input input[type=text] {font-size:#{$p}px;}
            .drop-list-crr, .drop-list li {font-size:#{$p}px;}
            .detail-heading_desc {font-size:#{$p + 6}px;}
            .article-list_subtit {font-size:#{$p + 2}px;}
            .pagination_txt {font-size:#{$p - 2}px;}
            .path-list-way span {font-size:#{$p}px;}

            // A
            .btn-txt_tit, .like-count, .btn-default-arrow, .btn-loadmore span {font-size:#{$btn}px;}
            [class*=agency_info__] {
                a {font-size:#{$btn - 3}px;}
            }

            .detail-cont_agency {
                [class*=agency_info__] {
                    a {font-size:#{$btn - 5}px;}
                }
            }

            //ETC
            .agency-info__license {font-size:#{$p - 2}px;}

            #sitemap .all-menu a.depth1 {font-size:#{$h3 + 8}px;}
            #sitemap .all-menu a.depth2 {font-size:#{$p + 4}px;}

        }
    }
}

@include res(tablets){
//------------- S  h2 h3 h4 p  a ,  S  h2 h3 h4 p  a ,  S  h2 h3 h4 p  a   
    $zoom-size:"s" 30 18 16 12 12, "m" 34 22 20 14 16, "l" 38 26 24 18 20;
    @each $size, $h2, $h3, $h4, $p, $btn in $zoom-size {
        .font-size-#{$size}{
            //H2
            h2 {font-size:#{$h2}px;
                .sec-tit_txt {font-size:#{$h2}px;}
                .page-heading {font-size:#{$h2 + 2}px;}
            }

            // H3
            h3 {font-size:#{$h3}px;
                .sec-tit_txt {font-size:#{$h3}px;}
                &.detail-heading_tit {font-size:#{$h3 + 16}px;}
            }
            
            // H4 
            h4 {
                &.bn-txt_tit {font-size: 42px;}
                &.arti-info_tit {font-size:#{$h4}px;}
                &.article-list_tit {font-size:#{$h4 + 6}px;}
                &.article-detail-list_tit {font-size:#{$h4}px;}
            }
            .detail-heading_subtit {font-size:#{$h4 + 2}px;}
            .path-list-location span {font-size:#{$h4 - 2}px;}
            .path-list-hotspot .article-list_tit {font-size:#{$h4}px;}

            // P, Normal
            p, table, td, th {font-size:#{$p}px;}
            .arti-info_desc, .article-list_desc {font-size:#{$p - 2}px;}
            .cate-label_txt {font-size:#{$p + 2}px;}
            .hsr-input input[type=text] {font-size:#{$p}px;}
            .drop-list-crr, .drop-list li {font-size:#{$p}px;}
            .detail-heading_desc {font-size:#{$p + 4}px;}
            .article-list_subtit {font-size:#{$p + 4}px;}
            .pagination_txt {font-size:#{$p}px;}
            .path-list-way span {font-size:#{$p + 2}px;}

            // A
            .btn-txt_tit, .like-count, .btn-default-arrow, .btn-loadmore span {font-size:#{$btn}px;}
            [class*=agency_info__] {
                a {font-size:#{$btn}px;}
            }
            .detail-cont_agency {
                [class*=agency_info__] {
                    a {font-size:#{$btn - 5}px;}
                }
            }

            //ETC
            .agency-info__license {font-size:#{$p - 2}px;}

            #sitemap .all-menu a.depth1 {font-size:#{$h3 + 6}px;}
            #sitemap .all-menu a.depth2 {font-size:#{$p + 4}px;}
        }
    }
}

@include res(phones){
//------------- S  h2    h3    h4    p     a    ,  S  h2    h3    h4    p     a,  S  h2    h3    h4    p     a    ,
    $zoom-size:"s" 6.911 5.086 4.086 3.565 3.565, "m" 7.059 6.268 5.488 4.235 4, "l" 8.954 7.390 6.868 5.947 5.608;
    @each $size, $h2, $h3, $h4, $p, $btn in $zoom-size {
        .font-size-#{$size}{
            //H2
            h2 {font-size:#{$h2}vw;
                .sec-tit_txt {font-size:#{$h2}vw;}
                .page-heading {font-size:#{$h2 + 1}vw;}
            }

            // H3
            h3 {font-size:#{$h3}vw;
                .sec-tit_txt {font-size:#{$h3}vw;}
                &.detail-heading_tit {font-size:#{$h3 + 2}vw;}
            }
            
            // H4 
            h4 {
                &.bn-txt_tit {font-size: 7.882vw;}
                &.arti-info_tit {font-size:#{$h4}vw;}
                &.article-list_tit {font-size:#{$h4 + 1}vw;}
                &.article-detail-list_tit {font-size:#{$h4}vw;}
            }
            .detail-heading_subtit {font-size:#{$h4}vw;}
            .path-list-location span {font-size:#{$h4 - 2}vw;}
            .path-list-hotspot .article-list_tit {font-size:#{$h4 - 2}vw;}

            // P, Normal
            p, table, td, th {font-size:#{$p}vw;}
            .arti-info_desc, .article-list_desc {font-size:#{$p - 0.5}vw;}
            .cate-label_txt {font-size:#{$p - 0.5}vw;}
            .hsr-input input[type=text] {font-size:#{$p - 1}vw;}
            .drop-list-crr, .drop-list li {font-size:#{$p - 1}vw;}
            .detail-heading_desc {font-size:#{$p}vw;}
            .article-list_subtit {font-size:#{$p}vw;}
            .pagination_txt {font-size:#{$p - 0.5}vw;}
            .path-list-way span {font-size:#{$p - 1}vw;}

            // A
            .btn-txt_tit, .like-count, .btn-loadmore span {font-size:#{$btn}vw;}
            .btn-default-arrow {font-size:#{$btn - 1}vw;}
            .go-to-prev a {font-size:#{$btn - 0.5}vw;}
            .path-list-hotspot .btn-txt_tit, .path-list-hotspot .like-count {font-size:#{$btn - 0.5}vw;}

            [class*=agency_info__] {
                a {font-size:#{$btn - 1.4}vw;}
            }

            //ETC
            .agency-info__license {font-size:#{$p - 1.3}vw;}

            #sitemap .all-menu a.depth1 {font-size:#{$h3 + 0.5}vw;}
            #sitemap .all-menu a.depth2 {font-size:#{$p}vw;}
        }
    }
}