/* Header & Navigation */
header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 99;
  background-color:rgba(255,255,255,0.95);

  .logo {
    position: relative;
    z-index: 99;
    display: flex;
    margin: 0 auto;

    .logo_hsr {
      width: 90px;
      margin-right: 18px;
    }

    .logo_mtr {
      width: 100px;
    }

    @include res(phones){
      .logo_hsr {
        width: 83px;
        margin-right: 3vw;
      }
  
      .logo_mtr {
        width: 92px;
      }
    }
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      width:80px;
      
      h1 {
        padding:0;
        margin:0;
        a {
          display: block;
          margin:0 auto;
          width:30px;
        }
      }

      @include res(tablets){
        width:60px;        
      }
    }

    .header-util {
        flex:5;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        [class*="util-"]:not(:last-child){
          position:relative;
          padding:0 25px;
          + [class*="util-"]:not(:last-child){
            &:before {
              position:absolute;
              top:0;
              left:0;
              content:"";
              display:block;
              width:1px;
              height:34px;
              background-color:$color-mtr-blue;
            }
          }

         @include res(phones){
          + [class*="util-"]:not(:last-child){
            &:before {
              display:none;
            }
          }
         }
        }

        > .util-sub-logo {
          @include res(phones){
            width:100%;
            padding:0;
            text-align:center;
            h2 {
              display: inline-flex;
              vertical-align: middle;
            }
          }
        }

        > .util-font-zoom {
          @include res(phones){
            display:none;
          }
        }
    }
  }

  .btn-nav {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: $color-hsr-orange;
    @include ani(background-color, 0.3s, ease);
    @include res(tablets){
      width: 60px;
      height: 60px;
    }

    .btn-nav-bar {
      .bar-item {
        position: relative;
        width: 16px;
        height: 2px;
        background-color: #ffffff;
        @include ani;

        +.bar-item {
          margin-top: 4px;
        }

        &:nth-child(1) {
          top: 0px;
          transform: rotate(0deg);
        }

        &:nth-child(2) {
          opacity: 1;
        }

        &:nth-child(3) {
          top: 0px;
          transform: rotate(0deg);
        }
      }
    }

    &:hover,
    &:focus {
      .btn-nav-bar {
        .bar-item {
          width: 30px;
        }
      }
    }
  }

  #gnb {
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    background: $color-hsr-orange;
    @include ani;

    .gnb-outer {
      position: relative;
      display:flex;
      align-items: center;
      justify-content: center;
      width:100%;
      width:100%;
      height:100%;

      @include res(tablets){
        align-items: flex-start;
      }

      .gnb_menu {
        position: relative;
        z-index: 99;
      }

      .gnb_inner-util {
        position:absolute;
        z-index: 9;
        bottom:0;
        left:0;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        align-items: stretch;
        -ms-flex-wrap: wrap;
        text-align:center;
        opacity:0;
        [class*=inner-utill] {
          display:flex;
          align-items: center;
          justify-content: center;
        }
        .inner-utill {
          &_font-zoom {
            flex:1;
            background-color:#ffffff;
            height:80px;

            a {
              margin:0 10px;
            }

            @include res(tablets){
              height:50px;
              a {
                margin:0 2vw;
              }
            }
          }
          &_sns {
            flex:1;
            background-color: $color-mtr-blue;
            height:80px;
            a {
              margin:0 60px;
            }

            @include res(tablets){
              height:50px;
              a {
                margin:0 5vw;
              }
            }

            @include res(phones){
              a {
                margin:0 8.5vw;
              }
            }
          }
        }

        @include res(phones){
          display:block;
        }
      }

      .gnb_deco {
        position: absolute;
        top:0;
        left:50%;
        width:100%;
        height:100%;
        z-index: 0;
        transform: translateX(-50%);
        @include media-over{
            transform: translateX(-50%) scale(1.4);
        };
      }
    }
  }
}

// Navigation Menu
header {
  #gnb {
    .gnb_menu {
      > ul {
        display:inline-flex;
        align-items: flex-start;
        > li {
          position:relative;
          padding-left:30px;
          opacity:0;
          left:2%;
          @include ani;
          list-style:none;
          list-style-type: none;
          + li {
            margin-left:50px;

            @include media(1440px){
              margin-left:20px;
            }
          }
          &:hover {
            .depth1 {
              color:$color-mtr-blue;
            }
          }

          ul {
            margin-top:20px;
            @media only screen and (min-width:1024px) {
              display:block !important;
            }
            li {
              margin-left:0;
              padding-left:0;
              list-style:none;
              list-style-type: none;
              + li {
                margin-top:15px;
              }
              overflow:hidden;
              a {
                position: relative;
                top:34px;
                left:20px;
                @include ani-select(top 0.3s ease, left 0.3s ease);
              }
            }
          }
        }
      }

      // Under Tablest, inner Height
      @include res(tablets){
        height:100%;
        max-height: calc(100% - 50px);
        overflow-y:auto;
        width: 100%;
        text-align:center;
        display:flex;
        align-items: center;
        justify-content: center;
        > ul {
          flex-direction: column;
          margin-top:-10vw;
          li {
            + li {
              margin-left:0px;
              margin-top:5vw;
            }
            > ul {
              display:none;
              text-align: left;
              li {
                + li {
                  margin-top:2vw;
                }
              }
            }
          }
        }
      }

      @include res(phones){
        //max-height: calc(100% - 100px);
        max-height:100%;
        > ul {
          li {
            + li {
              margin-top:10vw;
            }
          }
        }
      }

      .menu-index {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top:-15px;
        left:0;
        width:20px;
        height:20px;
        border-radius: 50%;
        background-color: $color-mtr-blue;
        > div {
          font-family: $font-title;
          font-size: 12px;
          color: #ffffff;
          line-height:1;
        }
      }

      a {
        display:inline-block;
        color:#ffffff;
        line-height:1;
        outline:2px solid transparent;
        @include ani;

        &:hover, &:focus {
          color:$color-mtr-blue;
          @include ani;
        }

        &.depth1 {
          font-family:$font-title;
          font-size:32px;
          
          @include media(1440px){
            font-size:28px;
          }
          @include res(phones){
            font-size:7vw;
          }
        }
        &.depth2 {
          position:relative;
          font-family:$font-title;
          font-size:20px;
          line-height:1;
          padding-bottom:10px;

          @include media(1440px){
            font-size:18px;
          }
          @include res(phones){
            font-size:4.25vw;
          }
          
          &:after {
            content:"";
            width:0%;
            height:2px;
            position:absolute;
            bottom:0px;
            left:0;
            display:block;
            opacity:0;
            background-color: $color-mtr-blue;
            @include ani-select(width 0.3s ease);
          }

          &:hover, &:focus {

            &:after {
              opacity:1;
              width:100%;
              @include ani-select(width 0.3s ease);
            }
          }
        }
      }

      .has-child {
        .btn-show-submenu {
          border:none;
          background-color: transparent;
          display:none;
          visibility: hidden;
        }
      }

      @include res(tablets){
        .has-child {
          .btn-show-submenu {
            cursor:pointer;
            display:flex;
            align-items: center;
            justify-content: flex-end;
            visibility: visible;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:4vw;

            &:after {
              position: relative;
              right:-7vw;
              content:"";
              display:block;
              width:8px;
              height:12px;
              background: url('#{$img}common/ico/ico_arrow_right_white.png') center center no-repeat;
              background-size:100% 100%;
              @include ani-select(transform 0.3s ease);
            }

            &:focus {
              outline:none;
              border:none;
            }
          }

          &.open-child {
            .btn-show-submenu {
              &:after {
                transform: rotate(90deg);
                background: url('#{$img}common/ico/ico_arrow_right_blue.png') center center no-repeat;
                background-size:100% 100%;
                @include ani-select(transform 0.3s ease);
              }
            }

            a {
              &.depth1 {
                color:$color-mtr-blue;
              }
            }
          }

          a {
            &.depth1 {
              pointer-events: none;
            }
          }
        }
      }

      @include res(phones){
        .has-child {
          .btn-show-submenu {
            height:7vw;
          }
        }
      }

    }
  }
}

// Navigation Background Decoration
$circles: "big" 1.5, "sm" 2, "sm2" 2.5;

header {
  #gnb {
    .gnb-outer {
      .gnb_deco {

        #midline {
          position:absolute;
          top:0;
          left:50%;
          width:1920px;
          height:100%;
          transform: translateX(-50%);
        }

        #topline, #btmline {
          position:absolute;
          width:360px;
          height:360px;
          transform: scale(0.7);
          opacity:0;
          @include ani;
        }

        #topline {
          top:-15%;
          left:60%;
        }

        #btmline {
          top:70%;
          left:10%;
        }

        .deco-circle {
          fill:none;
          stroke:#f8b37a;
        }

        @include res(phones){
          transform-origin: left top;
          transform: translateX(-90vw);
        }
       
      }
    } 
  }

  @each $item, $delay in $circles {
    #circle-#{$item} {
      circle {
          transform: scale(0.5);
          opacity:0;
          @include ani;
      }
    }
  }
}

// Navigation Open
.nav-li-show-over {
  header {
    #gnb {
      .gnb-outer {
        .gnb_menu {
          > ul {
            > li {
              ul {
                li {
                  overflow:visible;
                }
              }
            }
          }
        }
      }
    }
  }
}
.nav-active {
  header {
    .btn-nav {
      background-color: #ffffff;

      .btn-nav-bar {
        .bar-item {
          width: 16px;
          height: 2px;
          background-color: $color-mtr-blue;
          @include ani;

          &:nth-child(1) {
            top: 6px;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            top: -6px;
            transform: rotate(-45deg);
          }
        }
      }
    }

    .header-inner {
      .header-util {
        > .util-sub-logo {
          @include res(phones){
            display:none;
          }
        }
      }
    }

    #gnb {
      height: 100%;
      visibility: visible;
      @include ani(all, 0.5s, ease-in-out);

      .gnb-outer {
        .gnb_menu {
          > ul {
            > li {
              opacity:1;
              left:0;
              @include ani(all, 1s, ease);

              @for $i from 1 through 10 {
                &:nth-child(#{$i}){
                  transition-delay:(0.1*$i)+s;
                }
              }

              ul {
                li {
                  a {
                    top:0;
                    left:0;
                    @include ani-select(top 0.9s ease, left 0.9s ease);
                  }

                  @for $i from 1 through 10 {
                    &:nth-child(#{$i}){
                      a {
                        transition-delay:(0.2 + (0.2*$i))+s;
                      }
                      
                    }
                  }

                }
              }
            }
          }
        }

        .gnb_inner-util {
          opacity:1;
          @include ani(opacity, 1s, ease);
        }

        .gnb_deco {
          #topline, #btmline {
            position:absolute;
            width:360px;
            height:360px;
            opacity:1;
            transform: scale(1);
            @include ani(all, 1s, ease);
          }

          #topline {
            transition-delay: 3s;
            @include customani(circle-move, 15s);
          }
          #btmline {
            transition-delay: 3.5s;
            @include customani(circle-move, 10s);
            -webkit-animation-delay: 5s;
            animation-delay: 5s;
          }
        }
      }
    }

    @each $item, $delay in $circles {
      #circle-#{$item} {
        circle {
          opacity:1;
          transform: scale(1);
          
          @include ani(3s);
          transition-delay: #{$delay}s;
        }
      }
    }

  }
}

@-webkit-keyframes circle-move {
	from {
    transform: scale(1);
    margin-left:0;
  }

  50% {
    transform: scale(1.2);
    margin-left:-1%;
  }

	to {
    transform: scale(1);
    margin-left:0%;
	}
}

@keyframes circle-move {
	from {
    transform: scale(1);
    margin-left:0;
  }

  50% {
    transform: scale(1.2);
    margin-left:-1%;
  }

	to {
    transform: scale(1);
    margin-left:0%;
	}
}

/* a11y set */
.a11y-on {
  header {
    .btn-nav {
      &:hover,
      &:focus {
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,35,79,1);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(0,35,79,1);
        box-shadow: inset 0px 0px 0px 2px rgba(0,35,79,1);
      }
    }

    #gnb {
      .gnb_menu {
        a {
          &:focus, &:hover {
            outline: 2px solid $color-mtr-blue;
          } 
        }

        @include res(tablets){
          .has-child {
            &.key-focus {
              .btn-show-submenu {
                &:after {
                  background: url('#{$img}common/ico/ico_arrow_right_blue.png') center center no-repeat;
                  background-size:100% 100%;
                }
              }
              a {
                &.depth1 {
                  color:$color-mtr-blue;
                  outline: 2px solid $color-mtr-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}