$screen_s: 320px;
$screen_m: 789px;
$screen_l: 1024px;
$colors-list: #f6075b #00adef #ffcc00 #00aa51;

@mixin zoom($img) {
    background: #01204f url($img) no-repeat center;
    width: 30px;
    height: 30px;
}

@mixin markerList($img_w: 260px, $img_h: 170px) {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    width: 100%;
    height: 100%;

    .list_img {
        background-color: #878787;
        width: $img_w;
        height: $img_h;
    }

    .list_content_details {
        text-align: left;
        margin-left: 25px;

        .list_content_type {
            i {
                display: inline-block;
                vertical-align: middle;
                width: 14px;
                height: 20px;
            }

            @each $color in $colors-list {
                $i: index($colors-list, $color);
                &[data-cate="#{$i}"] {
                    i {
                        svg {
                            path {
                                fill: $color;
                            }
                        }
                    }
                }
            }

            .list_content_type_name {
                display: inline-block;
                vertical-align: middle;
                color: #01204f;
                font-size: 16px;
                line-height: 16px;
                margin-left: 5px;
            }
        }

        .list_content_name {
            color: #01204f;
            font-size: 20px;
            line-height: 20px;
            margin-top: 10px;
        }
    }
}

#hsr {
    .modal {
        text-align: center;
        padding: 0!important;
        // background-color: #d3531a;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            width: auto;

            .modal-content {
                border-radius: 0;

                & > * {
                    border: none;
                }

                .modal-body {
                    padding: 65px;
                    padding-top: 0;

                    .modal_content_container {
                        display: flex;
                        flex-direction: row;

                        .img_container {
                            background-color: #878787;
                            width: 475px;
                            height: 600px;
                        }

                        .desc_container {
                            padding: 30px;
                            width: auto;
                            max-width: 400px;

                            .title_container {
                                width: 100%;

                                & > * {
                                    display: inline-block;
                                    vertical-align: bottom;
                                }

                                div {
                                    color: #01204f;
                                    font-size: 30px;
                                    line-height: 30px;
                                    height: 30px;
                                }

                                span {
                                    background-color: #01204f;
                                    color: #ffffff;
                                    padding: 0 5px;
                                    font-size: 15px;
                                    height: 25px;
                                    margin-left: 10px;
                                }
                            }

                            .content {
                                margin-top: 20px;

                                .content_section {
                                    border: 1px solid #01204f;
                                    color: #01204f;
                                    font-size: 15px;
                                    font-weight: bold;
                                    line-height: 15px;
                                    padding: 3px 0;
                                    max-width: 100px;
                                    text-align: center;
                                }

                                .content_details {
                                    display: block;
                                    color: #01204f;
                                    font-size: 15px;
                                    line-height: 15px;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .amap_container {
        position: relative;

        #amap_filter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 60px;

            .amap_dropdown_container {
                width: 398px;
                height: 48px;
                cursor:pointer;
                position: relative;

                .amap_dropdown_menu {
                    position:relative;
                    background:#fff;
                    border:1px solid #d3531a;
                    padding:15px 0;
                    font-size:16px;
                    line-height: 16px;
                    font-weight:500;
                    text-align: center;
                    color:#d3531a;

                    p {
                        color: #878787;
                    }

                    span {
                        position:absolute;
                        right:20px;
                        top: 20px;
                        cursor:pointer;
                    }
                }

                ul.amap_dropdown {
                    display:none;
                    list-style: none;
                    margin-top:-1px;
                    background:#ff7034;
                    border:1px solid rgba(0, 0, 0 , 0.2);
                    box-shadow:0px 2px 0px rgba(0, 0, 0, .1);
                    position: absolute;
                    color: #01204f;
                    font-size: 16px;
                    line-height: 16px;
                    width: 100%;
                    z-index: 10;

                    &.open {
                        display: block;
                    }

                    li {
                        border-bottom:1px solid rgba(0, 0, 0, 0.1);
                        color:#000;
                        display:block;
                        position: relative;
                        text-align: center;
                        width: 100%;

                        &.amap_dropdown_area{
                            .overlay_btn {
                                display: none;
                                position: absolute;
                                height: 46px;
                                width: 100%;
                                // background-color: rgba(0, 0, 0 , 0.4);
                                z-index: 777;
                            }

                            .amap_dropdown_areaLebal {
                                padding: 15px 15px 15px 21px;

                                &:after {
                                    content: url('https://hkclubs.samsung.com/Media/202005227745222036.png');
                                    margin-left: 15px;
                                }

                                // &:hover {
                                //     .amap_dropdown_area & {
                                //         & > ul {
                                //             display: block;
                                //         }
                                //     } 
                                // }
                            }
                        }

                        ul {
                            background:#ff7034;
                            color: #000;
                            display: none;
                            position: absolute;
                            left: 397px;
                            top: 0;
                            width: 100%;

                            li {
                                padding: 15px;
                                z-index: 778;
                            }
                        }

                        &:hover {
                            background: #f05e23;

                            &>.sub-menu {
                                display: block;
                            }
                        }
                    }
                }
            }

            .search_bar {
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    background: url('https://hkclubs.samsung.com/Media/20200608f9a773a867.png') no-repeat center;
                    background-size: 48px;
                    float: right;
                    width: 48px;
                    height: 48px;
                }

                input {
                    border:1px solid #d3531a;
                    border-radius: 0;
                    border-left: none;
                    color: #878787;
                    // display: inline-block;
                    // vertical-align: middle;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight:500;
                    text-align: center;
                    padding: 15px 0;
                    width: 350px;
                    height: 48px;
                }

                .search_result {
                    display: none;
                    border: 1px solid #d3531a;
                    border-top: none;
                    background-color: #fff;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    z-index: 9999;

                    .search_result_item {
                        padding: 10px 0;

                        &:hover {
                            background-color: #e5e5e5;
                        }
                    }
                }
            }
        }

        #amap_wrap {
            display: flex;

            #amap {
                width: 100%;
                transition: width 1s;
                height: 800px;
                max-height: 800px;

                .amap-toolbar {
                    bottom: 20px !important;
                    left: 20px !important;
                    top: auto !important;

                    .amap-zoomcontrol {
                        left: 0 !important;

                        .amap-zoom-plus {
                            @include zoom('https://hkclubs.samsung.com/Media/20200505230e1f7e1e.png');
                            margin-bottom: 1px;
                        }

                        .amap-zoom-minus {
                            @include zoom('https://hkclubs.samsung.com/Media/2020050547dc3df64d.png');
                        }
                    }
                }

                .amap-marker {
                    .custom-content-marker {
                        // color: #f05e23;
                        // font-size: 3em;

                        i svg {
                            width: 23.646px;
                            height: 35.71px;
                        }

                        @each $color in $colors-list {
                            $i: index($colors-list, $color);
                            &[data-cate="#{$i}"] {
                                i {
                                    svg {
                                        path {
                                            fill: $color;
                                        }
                                        #Shape_1_copy_12 {
                                            display: block;
                                        }
                                        #Shape_1_copy_15 {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.selected {
                        .custom-content-marker {
                            i svg {
                                #Shape_1_copy_12 {
                                    display: none;
                                }
                                #Shape_1_copy_15 {
                                    display: block;
                                }
                            }
                        }
                    }

                    .amap-marker-label{
                        // left: -20px !important;
                        border: 0;
                        background-color: transparent;

                        .info{
                            border: 1px solid #01204f;
                            border-radius: 0;
                            background: #fff;
                            box-shadow: 3px 3px;
                            color: #01204f;
                            padding: 5px 20px;
                            position: relative;
                            top: 0;
                            right: 0;
                            min-width: 0;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 16px;
                        }
                    }
                }

                .amap_marker_guide {
                    display: none;
                    position: absolute;
                    left: 25px;
                    top: 30px;
                    z-index: 200;
                }

                .amap-info {
                    .amap-info-content {
                        background: #01204f;
                        color: #fff;
                        padding: 20px 5px 5px 5px;

                        a {
                            text-decoration: none;

                            .info_content {
                                .info_img {
                                    background-color: #878787;
                                    width: 190px;
                                    height: 125px;
                                }

                                .info_title {
                                    color: #ffffff;
                                    font-size: 20px;
                                    line-height: 20px;
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
            }

            #panel {
                background: #fff;
                border: 1px solid #eee;
                border-bottom: none;
                position: relative;
                width: 0;
                height: 100%;
                max-height: 800px;
                overflow: auto;
                right: 0;
                transition: width .5s ease-in-out;

                .panel_toggle {
                    display: none;
                    cursor: pointer;
                    // background-color: #01204f;
                    background: #01204f url("https://hkclubs.samsung.com/Media/20200514d0a01d0924.png") no-repeat center;
                    position: absolute;
                    top: 0;
                    left: -50px;
                    width: 50px;
                    height: 50px;
                }

                li {
                    padding: 20px 15px 0 20px;
                    cursor: pointer;

                    &.selected {
                        background: #f05e23;
                    }

                    &:not(.selected):hover {
                        background: #e5e5e5;
                    }

                    .list_content {
                        display: flex;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #eee;
                        white-space: nowrap;

                        .list_img {
                            background-color: #878787;
                            width: 260px;
                            height: 170px;
                        }

                        .list_content_details {
                            margin-left: 25px;

                            .list_content_type {
                                i {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 14px;
                                    height: 20px;
                                }

                                @each $color in $colors-list {
                                    $i: index($colors-list, $color);
                                    &[data-cate="#{$i}"] {
                                        i {
                                            svg {
                                                path {
                                                    fill: $color;
                                                }
                                            }
                                        }
                                    }
                                }

                                .list_content_type_name {
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: #01204f;
                                    font-size: 16px;
                                    line-height: 16px;
                                    margin-left: 5px;
                                }
                            }

                            .list_content_name {
                                color: #01204f;
                                font-size: 20px;
                                line-height: 20px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }

            &.panel_enable {
                #amap {
                    width: calc(100% - 500px);
                }

                #panel {
                    width: 500px;

                    .panel_toggle {
                        background-image: url("https://hkclubs.samsung.com/Media/202005149043a7261b.png");
                    }
                }
            }
        }

        .swiper-container {
            background-color: #ffffff;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            display: none;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40vw;

            .swiper-wrapper {
                height: 100%;
                width: 100%;

                .swiper-slide {
                    align-items: center;
                    // border: 1px solid #e5e5e5;
                    text-align: center;
                    font-size: 18px;
                    background: #ffffff;
                    width: 100%;
                    // pointer-events: none;
                    
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    &.selected {
                        // background: #f05e23;
                    }

                    &.swiper-slide-next {
                        .list_content {
                            margin-left: -200px;
                        }
                    }

                    &.swiper-slide-prev {
                        .list_content {
                            margin-right: -200px;
                            z-index: 1;
                        }
                    }

                    .list_content {
                        @include markerList(100%, 100%);
                        border: 1px solid #e5e5e5;
                        padding: 10px;
                        width: 70%;

                        .list_content_details {
                            width: 40%;

                            .list_content_type {
                                .list_content_type_name {
                                    font-size: 5vw;
                                    line-height: 5vw;
                                }
                            }
                        }
                    }
                }
            }
        }

        
    }

    @media screen and (max-width: $screen_m) {
        .modal {
            &.fade:not(.in) .modal-dialog {
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }

            padding: 0 !important;

            .modal-dialog {
                width: 100% !important;
                height: 100% !important;
                margin: 0 !important;

                .modal-header {
                    width: 100vw;
                }

                .modal-content {
                    height: 100%;

                    .modal-body {
                        padding: 30px;
                        overflow: scroll;

                        .modal_content_container {
                            flex-direction: column;

                            .img_container {
                                width: 100%;
                                height: 200px !important;
                            }

                            .desc_container {
                                padding: 0;
                                padding-top: 25px;
                            }
                        }
                    }
                }
            }
        }

        .amap_container {

            #amap_filter {
                position: absolute;
                top: 10px;
                z-index: 999;

                .amap_dropdown_container {
                    max-width: 180px;

                    ul.amap_dropdown.open {
                        max-height: 400px;
                        overflow: scroll;

                        li.amap_dropdown_area {
                            .overlay_btn {
                                display: block;
                            }
                            ul {
                                position: static;
                                left:inherit;
                                top:inherit;
                                display: none;

                                &.show {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .search_bar {
                    margin-left: 10px;

                    input {
                        border-left: 1px solid #d3531a;
                        max-width: 132px;
                    }
                }
            }

            #amap_wrap {
                #amap {
                    min-height: 70vh;

                    .amap_marker_guide {
                        top: 70px;
                        left: 20px;

                        img {
                            width: 80px;
                        }
                    }

                    .amap-controls {
                        display: none;
                    }

                    .amap-maps {
                        .amap-drags {
                            .amap-overlays {
                                .amap-info {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                #panel {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    width: 100% !important;
                    max-height: 100px;
                }

                &.panel_enable {
                    #amap {
                        width: 100% !important;
                    }
                }
            }

            .swiper-container {
                display: block;
            }
        }
    }
}