/* Skip Navigation */
#skip-nav {
    position: absolute;
    z-index: 999;
    top: -100px;
    width: 100%;
    padding: 0;
    list-style: none;
    font-size: 14px;
    li {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        a {
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            padding: 15px 0;
            background: $color-hsr-orange;
            color: $color-mtr-blue;
            text-align: center;
            text-decoration: none;
            &:focus, &:active {
                top: 100px
            }
        }
    }
}