/* Top Banner custom */
#topbanner {
    position: relative;
    z-index:0;
    margin-bottom:200px;

    @include res(tablets){
        margin-bottom:32vw;
    }

    @include res(phones){
        margin-bottom:47vw;
    }

    &.topbanner-sub {
        margin-bottom:10px;
        @include res(phones){
            margin-bottom:5vw;
        }

        .topbanner-img { 
            height:340px;
            background-position: center center;
            img {
                display:none;
            }

            @include res(tablets){
                background:none !important;
                .img-t {
                    display:block;
                }
            }

            @include res(phones){
                height:auto;
                .img-t {
                    display:none;
                }
                .img-m {
                    display:block;
                }
            }
        }

        .topbanner-deco {
            @include res(phones){
                bottom:-30vw;
            }
        }

        @include res(tablets){
            display:none;
        }

    }

    .topbanner-img {
        position: relative;
        z-index: 0;
        img {
            width:100%;
        }

        .img-d {
            @media only screen and (min-width:1024px) {
                display:block;
            }
            @include media(1024px){
                display:none;
            }
        }

        .img-t {
            display:none;
            @media only screen and (min-width:768px) and (max-width:1024px) {
                display:block;
            }
        }

        .img-m {
            display:none;
            @include res(phones){
                display:block;
            }
        }
        
    }

    .topbanner-txt {
        overflow:visible;
        position:absolute;
        z-index: 20;
        top:0;
        left:0%;
        width:100%;
        height:100%;

        @media only screen and (min-width:1920px){
            width:1920px;
            left:50%;
            transform: translateX(-50%);
        }

        .banner-txt-box {
            position:relative;
            top:75%;
            left:10%;
            width:420px;

            @include res(phones){
                left:7%;
                width:86%;
                max-width:86%;
            }

            &:after {
                content:"";
                width:180%;
                height:200%;
                position:absolute;
                z-index:0;
                top:-50%;
                left:-40%;
                opacity:0;
                background: rgba(255,255,255,0.9);
                background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 44%, rgba(255,255,255,0) 70%);
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(44%, rgba(255,255,255,0.9)), color-stop(70%, rgba(255,255,255,0)));
                background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 44%, rgba(255,255,255,0) 70%);
                background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 44%, rgba(255,255,255,0) 70%);
                background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 44%, rgba(255,255,255,0) 70%);
                background: radial-gradient(ellipse at center, rgba(255,255,255,0.9) 44%, rgba(255,255,255,0) 70%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
            }
           
            .bn-txt_tit, .bn-txt_desc, .bn-txt_btn {
                position: relative;
                z-index: 10;
                opacity:0;
                top:10px;
                @include ani;
            }

            .bn-txt_tit {
                font-family: $font-title;
                font-weight: bold;
                line-height: 1.2;
                text-align: left;
                color:$color-mtr-blue;
                + .bn-txt_desc {
                    margin-top:20px;
                }
            }
            .bn-txt_desc {
                font-family: $font-desc;
                line-height:1.2;
                color:$color-mtr-blue;
                + .bn-txt_btn {
                    margin-top:20px;
                }
            }
        }

        .swiper-slide-active {
            .banner-txt-box {
                &:after {
                    opacity:1;
                    @include ani(all, 1s, ease);
                }
                .bn-txt_tit, .bn-txt_desc, .bn-txt_btn {
                    opacity:1;
                    top:0;
                    @include ani-select(opacity 1s ease, top 1s ease);
                }
                .bn-txt_tit {
                    transition-delay: 1s;
                }
                .bn-txt_desc {
                    transition-delay: 1.3s;
                }
                .bn-txt_btn {
                    transition-delay: 1.6s;
                }
            }
        }
    }

    .topbanner-deco {
        position: absolute;
        z-index: 10;
        bottom:-180px;
        left:50%;
        width:100%;
        min-width:1920px;
        transform: translateX(-50%);
       
        .ie11-show {
            img {
                width:100%;
            }
        }

        &.area-home {
            bottom:-500px;
        }

        @include res(phones){
            bottom:-8vw;
            left:0px;
            width:100%;
            min-width:auto;
            transform: none;

            &.area-home {
                bottom:-8vw;
            }
        }
    }

    .topbanner-util {
        position:absolute;
        z-index:30;
        bottom:-90px;
        left:0;
        width:100%;
        text-align: center;
        .swiper-pagination {
            position:relative;
        }

        @include media(1440px) {
            bottom:-10vw;
        }

        @include res(tablets){
            bottom:-17vw;
        }

        @include res(phones){
            bottom:-34vw;

            [class*=btn-banner-] {
                //display:none;
            }
        }
    }

    /* For tap key move*/
    .swiper-slide {
        a {
            visibility: hidden;
        }
    }

    .swiper-slide-active {
        a {
            visibility: visible;
        }
    }
}