<!DOCTYPE html>
<html lang="zh-HK" itemscope="" itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高速鐵路</title>
    <meta name="country" content="China">
    <meta name="city" content="Hong Kong">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="香港鐵路有限公司">
    <meta name="author" content="香港鐵路有限公司">
    <link rel="icon" href="./images/common/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./images/common/favicon.ico" type="image/x-icon">

    <meta name="keywords" content="高速鐵路, High Speed Rail, MTR, 港鐵, 熱點推介, 主題旅遊, 行程推介, 高鐵旅遊專家">
    <meta name="description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！"></meta>
    <meta property="og:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh-HK">
    <meta property="og:title" content="高速鐵路">
    <meta property="og:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta property="og:image" content="https://www.highspeed.mtr.com.hk/tc/travel/images/common/share-img-l.jpg">
    <meta name="twitter:card" content="Summary">
    <meta name="twitter:site" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:title" content="高速鐵路">
    <meta name="twitter:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta name="twitter:image" content="https://www.highspeed.mtr.com.hk/tc/travel/images/common/share-img.jpg"/>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCCFW98');</script>

    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
    <link rel="stylesheet" href="./css/plan.min.css" type="text/css">
    <script src="./js/lib/jquery.min.js" defer type="text/javascript"></script>

</head>
<body class="font-size-m">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCCFW98" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="wrap sub-page" id="hsr">
        <hsr-top :page="pageid" :article="articleId"></hsr-top>
        <sub-top-banner :page="pageid"></sub-top-banner>
        <main id="primary" class="contents" aria-label="content">
            <div class="blind" id="a-primary-focus"></div>
            <hsr-breadcrumb :current="pagetitle"></hsr-breadcrumb>
            <div class="sec-bg">
                <section id="theme-list">
                    <div class="sec-inner">
                        <section-tit :title="pagetitle" :img="pageid" class="hide-line"></section-tit>
                        <article class="sec-contents">
                            <div class="sec-cont-search">
                                <div class="hsr-drop selected">
                                    <a href="javascript:;" class="hsr-input drop-list-crr">
                                        <span v-if="dropSelected.length == 0" v-html="text.selectDefault"></span>
                                        <span v-else v-html="cateList"></span>
                                    </a>

                                    <div class="drop-list" tabindex="-1">
                                        <ul role="listbox">
                                            <li role="presentation">
                                                <span class="list-txt" @click="dropOption(articleCate, 'all')" v-on:keyup.enter="dropOption(articleCate, 'all')" v-html="text.selectAllArea" tabindex="0"></span>
                                            </li>
                                            <li v-for="(item, idx) in articleCate" role="presentation" :class="{'has-child':item.subcate}">
                                                <span class="list-txt" @click="dropOption(articleCate, idx)" v-on:keyup.enter="dropOption(articleCate, idx)" v-html="item.label" tabindex="0"></span>
                                                <ul role="listbox" v-if="item.subcate">
                                                    <li v-for="(subcate, idxx) in item.subcate" role="presentation" tabindex="0" @click="dropOptionSub(articleCate, idx, idxx)" v-on:keyup.enter="dropOptionSub(articleCate, idx, idxx)" v-html="subcate"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <form action="javascript:void(0);" role='search'>
                                    <div class="search-keyword">
                                        <div class="hsr-input">
                                            <input type="text" name="keyword" ref="keyword" v-model="searchkeywordAuto" :placeholder="text.searchbox" autocomplete="off" />
                                            <button class="btn-search" @click="gosearch()" aria-label="search"><span v-html="text.searchBtn" class="blind"></span></button>
                                        </div>
                                        <div class="search-list-auto load-list">
                                            <ul role="listbox">
                                                <li v-for="(item, idx) in autosearch" :key="idx" :ref="'result'+idx" role="presentation" tabindex="0" @click="gosearch(item.tit)" v-on:keyup.enter="gosearch(item.tit)" @keydown="modelist">
                                                    <div class="list-auto-option" role="option">
                                                        <div v-html="item.tit" class="auto-result-tit auto-option-1"></div><div v-html="item.desc"  class="auto-option-2"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="search-list">
                                <div class="result-msg">
                                    <span v-html="searchmessage"></span>
                                </div>
                                <ul class="article-list">                                    
                                    <li v-if="idx < listShow" v-for="(item, idx) in articleListFilter" :key="idx">
                                        <div class="article-list-item" tabindex="0">
                                            <div class="article-list-item_cont">
                                                <div class="article-list_thumb">
                                                    <a class="btn-mobile-area" :href="'./plan-detail.html?article='+item.id" tabindex="-1">
                                                        <img :src="item.img_d" :alt="item.img_d_tag?item.img_d_tag:''" class="br767"/>
                                                        <img :src="item.img_m" :alt="item.img_m_tag?item.img_m_tag:''" class="view767"/>
                                                        <span class="blind" v-html="item.img_d_tag?item.img_d_tag:'了解更多'"></span>
                                                    </a>
                                                </div>
                                                <div class="article-list_text">
                                                    <div class="article-list_text-in">
                                                        <div class="btn-like type-white" :class="[isLikeActive([pageid, item.id])?'i-like':'']" :data-article-section="pageid" :data-article-id="item.id" @click="countlike([pageid, item.id])" tabindex="0">
                                                            <span class="ico-heart"></span><span class="like-count" v-html="isLikeActiveCnt([pageid, item.id])"></span>
                                                        </div>

                                                        <a class="btn-mobile-area" :href="'./plan-detail.html?article='+item.id" tabindex="-1">
                                                            <p class="article-list_subtit" v-html="item.tit"></p>
                                                            <h4 class="article-list_tit" v-html="item.tit"></h4>
                                                        </a>
                                                        <div class="article-list_btn">
                                                            <btn-cirlce :txt="text.btnDetail" :link="'./plan-detail.html?article='+item.id" class="type-white"></btn-cirlce>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="article-list-item_bg"></div>
                                        </div>
                                    </li>
                                </ul>
                                <btn-loadmore :max="listTotal" :show="listShow" :txt="text.btnLoadmore"></btn-loadmore>
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sec-bg-group">
                    <div class="sec-bg-group__inner">
                        
                        <div class="bg-item-top"></div>
                        <div class="bg-item-circle5"></div>
                        <div class="bg-item-circle6"></div>
                        <div class="bg-item-circle7"></div>
                        <div class="bg-item-btm">
                            <div id="canvas-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <hsr-foot :backtotop="text.btnBackTop" :copytxt="text.fcopy"></hsr-foot>
    </div>

    <script type="text/javascript">
    ;(function(win,doc,callback){'use strict';callback=callback||function(){};function detach(){if(doc.addEventListener){doc.removeEventListener('DOMContentLoaded',completed)}else{doc.detachEvent('onreadystatechange',completed)}}function completed(){if(doc.addEventListener||event.type==='load'||doc.readyState==='complete'){detach();callback(window,window.jQuery)}}function init(){if (doc.addEventListener){doc.addEventListener('DOMContentLoaded',completed)}else{doc.attachEvent('onreadystatechange',completed)}}init()})(window,document,function(win,$){
        $.ajaxSetup({cache:true});
        $.ajax('./js/lib/vue.js')
        .then(function(){return $.ajax('./js/lib/snap.min.js')})
        .then(function(){return $.ajax('./js/lib/inview.min.js')})
        .then(function(){return $.ajax('./js/lib/qrcode.min.js')})
        .then(function(){return $.ajax('./js/lib/cookie.min.js')})
        .then(function(){return $.ajax('./js/components.js')})
        .then(function(){return $.ajax('./js/common.js')})
        .then(function(){

            var pageid = 'plan'; 
            $.each(topmenu, function(index, item){
                if(item.id == pageid) {
                    MTR.pagetitle  = item.name;
                    MTR.pageid     = item.id;
                    MTR.depth1     = item.name;
                    MTR.depth1link = item.link;
                    MTR.articleId  = 'plan-list';
                }
            });

            var getList = $.getJSON('./data/plan-category.json', function(data){
                return MTR.articleCate = data;
            });
            
            var getList = $.getJSON('./data/plan-list.json', function(data){
                return MTR.articleList = data;
            });

            setTimeout(function(){
                MTR.listTotal = MTR.articleList.length;
                MTR.breadcrumb         = MTR.text.selectAll;
                MTR.text.selectDefault = MTR.text.selectAllArea;
                MTR.text.selectAll     = MTR.text.selectAllArea;
            },100);

        });
    });
    </script>

</body>
</html>