<!DOCTYPE html>
<html lang="zh-HK" itemscope="" itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高速鐵路</title>
    <meta name="country" content="China">
    <meta name="city" content="Hong Kong">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="香港鐵路有限公司">
    <meta name="author" content="香港鐵路有限公司">
    <link rel="icon" href="./images/common/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./images/common/favicon.ico" type="image/x-icon">

    <meta name="keywords" content="高速鐵路, High Speed Rail, MTR, 港鐵, 熱點推介, 主題旅遊, 行程推介, 高鐵旅遊專家">
    <meta name="description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！"></meta>
    <meta property="og:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh-HK">
    <meta property="og:title" content="高速鐵路">
    <meta property="og:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta property="og:image" content="https://www.highspeed.mtr.com.hk/tc/travel/images/common/share-img-l.jpg">
    <meta name="twitter:card" content="Summary">
    <meta name="twitter:site" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:title" content="高速鐵路">
    <meta name="twitter:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta name="twitter:image" content="https://www.highspeed.mtr.com.hk/tc/travel/images/common/share-img.jpg"/>

    <script src="./js/lib/jquery.min.js" type="text/javascript"></script>
    <script src="./js/datalist.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
    <link rel="stylesheet" href="./css/sitemap.min.css" type="text/css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCCFW98');</script>
</head>
<body class="font-size-m">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCCFW98" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap" id="hsr">
        <hsr-top :page="pageid" :article="articleId"></hsr-top>
        <main id="primary" class="contents sub-page" aria-label="content">
            <div class="blind" id="a-primary-focus"></div>

            <div class="sec-bg">
                <h2 class="page-heading">
                    <span>網頁導覽</span>
                </h2>

                <section id="sitemap">
                    <div class="sec-inner">
                        <article class="sec-contents">
                            <ul class="all-menu">
                                <li v-for="(item, idx) in topmenu" :class="{'has-child':item.depth2}" v-if="idx != 0">
                                    <a :href="item.link" v-html="item.name" class="depth1"></a>
                                    <ul v-if="item.depth2">
                                        <li v-for="submenu in item.depth2"><a :href="submenu.link" v-html="submenu.name" class="depth2"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </article>
                    </div>
                </section>
                
                <div class="sec-bg-group">
                    <div class="sec-bg-group__inner">
                        <div class="bg-item-circle5"></div>
                        <div class="bg-item-circle6"></div>
                        <div class="bg-item-circle7"></div>
                        <div class="bg-item-btm">
                            <div id="canvas-container"></div>
                        </div>
                    </div>
                </div>
            </div> 

        </main>
        <hsr-foot :backtotop="text.btnBackTop" :copytxt="text.fcopy"></hsr-foot>
    </div>

    <script src="./js/lib/vue.js" defer type="text/javascript"></script>
    <script src="./js/lib/snap.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/inview.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/qrcode.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/cookie.min.js" defer type="text/javascript"></script>
    <script type="text/javascript">
    ;(function(win,doc,callback){'use strict';callback=callback||function(){};function detach(){if(doc.addEventListener){doc.removeEventListener('DOMContentLoaded',completed)}else{doc.detachEvent('onreadystatechange',completed)}}function completed(){if(doc.addEventListener||event.type==='load'||doc.readyState==='complete'){detach();callback(window,window.jQuery)}}function init(){if (doc.addEventListener){doc.addEventListener('DOMContentLoaded',completed)}else{doc.attachEvent('onreadystatechange',completed)}}init()})(window,document,function(win,$){
        $.ajaxSetup({cache:true});
        $.ajax('./js/components.js')
        .then(function(){return $.ajax('./js/common.js')});
    });
    if (document.readyState === 'ready' || document.readyState === 'complete') {LOAD_STATUS = false;} else {document.onreadystatechange = function () {if (document.readyState == "complete") {LOAD_STATUS = true;MTR.pageLoad=true;}}}
    </script>

</body>
</html>