<!DOCTYPE html>
<html lang="zh-HK" itemscope="" itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高速鐵路</title>
    <meta name="country" content="China">
    <meta name="city" content="Hong Kong">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="香港鐵路有限公司">
    <meta name="author" content="香港鐵路有限公司">
    <link rel="icon" href="./images/common/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./images/common/favicon.ico" type="image/x-icon">

    <meta name="keywords" content="高速鐵路, High Speed Rail, MTR, 港鐵, 熱點推介, 主題旅遊, 行程推介, 高鐵旅遊專家">
    <meta name="description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！"></meta>
    <meta property="og:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh-HK">
    <meta property="og:title" content="高速鐵路">
    <meta property="og:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta property="og:image" content="https://www.highspeed.mtr.com.hk/tc/travel/images/common/share-img-l.jpg">
    <meta name="twitter:card" content="Summary">
    <meta name="twitter:site" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:title" content="高速鐵路">
    <meta name="twitter:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta name="twitter:image" content="https://www.highspeed.mtr.com.hk/tc/travel/images/common/share-img.jpg"/>

    <script src="./js/lib/jquery.min.js" type="text/javascript"></script>
    <script src="./js/datalist.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
    <link rel="stylesheet" href="./css/theme.min.css" type="text/css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCCFW98');</script>
</head>
<body class="font-size-m">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCCFW98" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="wrap sub-page" id="hsr">
        <hsr-top :page="pageid" :article="articleId"></hsr-top>
        <sub-top-banner :page="pageid"></sub-top-banner>
        <main id="primary" class="contents" aria-label="content">
            <div class="blind" id="a-primary-focus"></div>
            <hsr-breadcrumb :depth1="depth1" :depth1link="depth1link" :depth2="depth2" :depth2link="depth2link" :current="articleTitle"></hsr-breadcrumb>
            <hsr-breadcrumb-prev :goto="depth2link" :gototxt="text.btnGoPrev"></hsr-breadcrumb-prev>
            <div class="sec-bg">
                <section id="theme-detail">
                    <div class="sec-inner">
                        <section-tit :title="pagetitle" :img="pageid" class="hide-line"></section-tit>
                        <article class="sec-contents">
                            <div class="detail-item" v-for="(item, idx) in articleDetail" :key="idx">
                                <div class="detail-item-heading">
                                    <div class="detail-heading_top">
                                        <p class="detail-heading_subtit" v-if="item.subtit" v-html="item.subtit"></p>
                                        <h3 class="detail-heading_tit" v-html="item.tit"></h3>
                                        <div class="util-sns-share type-blue">
                                            <a href="javascript:;" class="sns-item sns-fb" @click.prevent="countShare([pageid+'-contents', articleId, 'Facebook', 'crr'])"><span class="blind">Facebook</span></a>
                                            <a href="javascript:;" class="sns-item sns-whatsapp" @click.prevent="countShare([pageid+'-contents', articleId, 'WhatsApp', 'crr'])"><span class="blind">WhatsApp</span></a>
                                            <a href="javascript:;" class="sns-item sns-wechat" @click.prevent="countShare([pageid+'-contents', articleId, 'WeChat', 'crr'])"><span class="blind">WeChat</span></a>
                                            <div class="btn-like" :class="[isLikeActive([pageid, item.id])?'i-like':'']" :data-article-section="pageid" :data-article-id="item.id" @click="countlike([pageid, item.id])" tabindex="0">
                                                <span class="ico-heart"></span><span class="like-count" v-html="isLikeActiveCnt([pageid, item.id])"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detail-heading_img">
                                        <figure>
                                            <img :src="item.img_d" class="br767" :alt="item.img_d_tag?item.img_d_tag:''"/>
                                            <img :src="item.img_m" class="view767" :alt="item.img_m_tag?item.img_m_tag:''"/>
                                            <figcaption class="blind" v-html="item.img_m_tag?item.img_m_tag:''"></figcaption>
                                        </figure>
                                    </div>
                                    <p class="detail-heading_desc" v-html="item.desc"></p>
                                </div>
                                
                                <div class="detail-item-cont">
                                    <div class="article-list-item" v-for="(section, cnt) in item.sections" :key="cnt">
                                        <div class="article-list-item_cont">
                                            <div class="article-list_thumb thumb-slide type-white" v-if="section.secImg.length > 1">
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide" v-for="(thumb, alt) in section.secImg" :key="alt">
                                                            <img :src="thumb" :alt="section.secImgTag[alt]?section.secImgTag[alt]:''"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btn-slide-ctr swiper-button-prev"></div>
                                                <div class="btn-slide-ctr swiper-button-next"></div>
                                                <div class="swiper-pagination"></div>
                                            </div>
                                            <div class="article-list_thumb" v-else>
                                                <img :src="thumb" :alt="section.secImgTag?section.secImgTag:''" v-for="thumb in section.secImg"/>
                                            </div>
                                            <div class="article-list_text">
                                                <div class="article-list_text-in">
                                                    <h4 class="article-detail-list_tit" v-html="section.secTit"></h4>
                                                    <p class="article-list_desc" v-html="section.secCont"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-list-item_bg"></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        
                        <article class="sec-contents article-list article-banner" v-for="banner in articleDetail">
                            <div class="article-list-item type-light" v-for="item in banner.banner">  
                                <div class="article-list-item_cont">
                                    <div class="article-list_thumb">
                                        <a class="btn-mobile-area" :href="item.link" tabindex="-1">
                                            <img :src="item.img_d" :alt="item.img_d_tag?item.img_d_tag:''" class="br767"/>
                                            <img :src="item.img_m" :alt="item.img_m_tag?item.img_m_tag:''" class="view767"/>
                                            <span class="blind" v-html="item.img_d_tag?item.img_d_tag:'了解更多'"></span>
                                        </a>
                                    </div>
                                    <div class="article-list_text">
                                        <div class="article-list_text-in">
                                            <a class="btn-mobile-area" :href="item.link" tabindex="-1">
                                                <h4 class="article-list_tit" v-html="item.tit"></h4>
                                                <p class="article-list_desc" v-html="item.desc"></p>
                                            </a>
                                            <div class="article-list_btn">
                                                <btn-cirlce :txt="item.btnTxt" :link="item.link"></btn-cirlce>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-list-item_bg"></div>
                            </div>
                        </article>

                        <article class="sec-contents" v-for="(item, idx) in articleDetail" :key="idx">
                            <div v-html="item.tnc" v-if="item.tnc" class="editor area-tnc"></div>
                        </article>

                    </div>
                </section>
                <div class="sec-bg-group">
                    <div class="sec-bg-group__inner">
                        <div class="bg-item-top"></div>
                        <div class="bg-item-circle5"></div>
                        <div class="bg-item-circle6"></div>
                        <div class="bg-item-circle7"></div>
                        <div class="bg-item-circle8"></div>
                        <div class="bg-item-btm">
                            <div id="canvas-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <hsr-foot :backtotop="text.btnBackTop" :copytxt="text.fcopy"></hsr-foot>
    </div>

    <script src="./js/lib/vue.js" defer type="text/javascript"></script>
    <script src="./js/lib/swiper.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/snap.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/inview.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/qrcode.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/cookie.min.js" defer type="text/javascript"></script>
    <script type="text/javascript">
    ;(function(win,doc,callback){'use strict';callback=callback||function(){};function detach(){if(doc.addEventListener){doc.removeEventListener('DOMContentLoaded',completed)}else{doc.detachEvent('onreadystatechange',completed)}}function completed(){if(doc.addEventListener||event.type==='load'||doc.readyState==='complete'){detach();callback(window,window.jQuery)}}function init(){if (doc.addEventListener){doc.addEventListener('DOMContentLoaded',completed)}else{doc.attachEvent('onreadystatechange',completed)}}init()})(window,document,function(win,$){
        $.ajaxSetup({cache:true});
        $.ajax('./js/components.js')
        .then(function(){return $.ajax('./js/common.js')})
        .then(function(){
            //Page Set : Sub Page Only
            var pageid = 'theme';
            $.each(topmenu, function(index, item){
                if(item.id == pageid) {
                    MTR.pagetitle  = item.name;
                    MTR.pageid     = item.id;
                    MTR.depth1     = item.name;
                    MTR.depth1link = item.link;
                }
            });
            
            var getList = $.getJSON('./data/theme-detail.json', function(data){
                return MTR.articleList = data;
            }).done(function(){
                var article = "";
                if(QueryString.article){
                    article = QueryString.article;
                    var cnt = 0;
                    MTR.articleList.filter(function(item){
                        if(item.id == article){
                            cnt++;
                            return MTR.articleDetail = new Array(item);
                        }
                    });

                    if(cnt == 0) { window.location.href = '/theme.html';}

                    MTR.articleId    = MTR.articleDetail[0].id;
                    MTR.articleTitle = MTR.articleDetail[0].tit;
                    MTR.depth2       = MTR.articleDetail[0].label;
                    MTR.depth2link   = '/theme.html?category='+MTR.articleDetail[0].cateId;

                    setTimeout(function(){
                        $('.thumb-slide').each(function(idx){
                            $(this).addClass('thumb-cont'+idx);
                            new Swiper('.thumb-cont'+idx+' .swiper-container', {            
                                loop: true,
                                slidesPerView: 1,
                                navigation: {
                                    nextEl: '.thumb-cont'+idx+' .btn-slide-ctr',
                                    prevEl: '.thumb-cont'+idx+' .swiper-button-prev',
                                },
                                pagination: {
                                    el: '.thumb-cont'+idx+' .swiper-pagination',
                                    clickable: true,
                                }
                            });
                        });
                    });
                    
                }else {
                    window.location.href = MTR.depth1link;
                }
            });
        })
    });
    if (document.readyState === 'ready' || document.readyState === 'complete') {LOAD_STATUS = false;} else {document.onreadystatechange = function () {if (document.readyState == "complete") {LOAD_STATUS = true;setTimeout(function(){MTR.pageLoad=true;},300);}}}
    </script>

</body>
</html>