
// Font Variables
$font-title:"Noto Sans TC", "Microsoft JhengHei", 微软雅黑, Arial, Helvetica, sans-serif;
$font-desc:"Noto Sans TC", "Microsoft JhengHei", 微软雅黑, Arial, Helvetica, sans-serif;
$font-default:"Microsoft JhengHei", 微软雅黑, Arial, Helvetica, sans-serif;
$font-en:"Roboto", "Microsoft JhengHei", 微软雅黑, Arial, Helvetica, sans-serif;

// Image Path
$img: '../images/';
// Color
$color-hsr-orange   : #F58025;
$color-mtr-blue     : #00234F;
$color-mtr-red      : #B30838;
$color-exit-green   : #00A94F;
$color-exit-grey    : #5D87A1;
$color-title-blue   : #002B54;
$color-lift-yellow  : #FFDD00;
$color-exterior-grey: #E4E5E6;
$color-disable      : #878787;

// Easing
$ease1: cubic-bezier(.17,.67,.83,.67);

// Section inner width
$max:1755px;
$sub-max:1268px;