.wrap {
    position:relative;
    overflow:hidden;
    padding-top:80px;

    @include res(tablets){
        padding-top:60px;
    }
}

/* Section Styling */
[class*="-inner"]:not(.header-inner):not(.footer-inner){
    width:$max;
    max-width:96%;
    margin:0 auto;

    &.size-full {
        width:100%;
        max-width:100%;
    }

    @include res(phones){
        max-width:92%;
    }
}

.sub-page {
    .contents {
        @include res(tablets){
            padding-top:6vw;
        }
    }
    section {
        width: $sub-max;
        max-width:100%;
        margin:0 auto;

        &[id*="list"] {
            [class*="-inner"] {
                @media only screen and (min-width:1300px){
                    max-width:100% !important;    
                }
            }
        }
        
    }
}

.page-heading {
    position: relative;
    z-index: 9;
    display:flex;
    align-items: center;
    width:100%;
    height:200px;
    background-color: rgba(232,216,203, 0.5);
    font-family: $font-title;
    span {
        width: $sub-max;
        max-width:96%;
        margin:0 auto;
        color:$color-mtr-blue;
        padding-left:30px;
    }

    @include res(tablets){
        height:150px;
        span {
            padding-left:0;
        }
    }

    @include res(phones){
        span {
            max-width:86%;
        }
    }
}

.sec-inner {
    text-align: center;
}

.sec-tit {
    position:relative;
    z-index:9;
    display:inline-block;
    font-family: $font-title;    
    font-size: 38px;
    font-weight:700;
    color: $color-mtr-blue;
    line-height:1.2;
    letter-spacing: 10px;
    padding:0 34px;

    @include res(phones){
        padding:0 5vw;
    }

    $right-posi:10px;
    &.hide-line {
        &:before, &:after {
            display:none !important;
        }
        > div {
            &:before, &:after {
                display:none !important;
            }
        }
    }
    &.tit-type_line {
        &:before, &:after {
            position:absolute;
            top:50%;
            content:"";
            display:block;
            width:7px;
            height:7px;
            border-radius: 50%;
            background-color:$color-mtr-blue;
            transform: translateY(-50%);

            @include res(phones){
                width:5px;
                height:5px;
            }
        }

        &:before {
            left:0;
        }
    
        &:after{
            right:$right-posi;
        }

        > div {
            display: flex;
            align-items: center;
            &:before, &:after {
                position:absolute;
                top:50%;
                content:"";
                display:block;
                width:1000%;
                height:1px;
                background-color:$color-mtr-blue;
            }
        
            &:before {
                left:-1000%;
            }
        
            &:after{
                right:calc(-1000% + #{$right-posi});
            }

            .sec-tit_ico {
                $ico:50px;
                width:$ico;
                height:$ico;
                margin-right:20px;
                border-radius: 50%;
                overflow:hidden;
                background-color: $color-mtr-blue;

                @include res(phones){
                    $ico:7vw;
                    width:$ico;
                    height:$ico;
                    margin-right:3vw;
                }
            }
        }
    }

    + .sec-contents {
        margin-top:70px;

        @include res(tablets){
            margin-top:30px;
        }

        @include res(phones){
            margin-top:8vw;
        }
    }
}

.sec-bg {
    position: relative;
    z-index:0;
    margin-top:140px;
    padding-bottom:60px;

    @include res(phones){
        margin-top:0;
    }
    section {
        position: relative;
        z-index: 9;
        + section {
            margin-top:100px;

            @include res(tablets){
                margin-top:60px;
            }

            @include res(phones){
                margin-top:10vw;
            }
        }
    }

    .sec-bg-group {
        position:absolute;
        z-index: 0;
        top:0;
        left:0;
        width:100%;
        height:100%;

        .sec-bg-group__inner {
            position: relative;
            display: block;
            width:100%;
            height:100%;
        }

        [class*=bg-item-] {
            position:absolute;
            display:block;
        }

        .bg-item-btm {
            bottom:0;
            left:0;
            width:100%;
            height:142px;
            min-width:1920px;
            opacity:0.9;
            
            img {
                width:100%;
                height:142px;
            }
    
            canvas {
                vertical-align:top;
            } 

            @include res(tablets){
                height:100px;
            }
            @include res(phones){
                height:80px;
            }
        }
    }
}