
// Landspace Message
.msg-landscape {
    position: fixed;
    z-index: 99999999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(#000000, 0.9);

    img {
        pointer-events: none;
    }

    .msg-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height:100%;
        color:#fff;
    }

    .alert-landscape {
        font-family: $scmp-font-desc;
        font-weight: 100;
        line-height: 1.4;
        text-align: center;

        a {
            display: block;
            margin-top:20px;
            color:#ffffff;
            font-size: 12px;
            font-weight: 100;
            text-decoration: underline !important;
        }
    }

    .alert-ie {
        font-family: $scmp-font-desc;
        font-weight: 100;
        line-height: 1.4;
        text-align: center;

        h2 {
            font-family: $scmp-font-title !important;
            text-align: center !important;
            color:#ffffff;
        }

        p {
            font-family: $scmp-font-desc;
            font-size: 14;
            width:600px;
            max-width: 90%;
            margin:0 auto;
            color:#ffffff;
        }

        a {
            display: block;
            margin-top:20px;
            color:#ffffff;
            font-size: 12px;
            font-weight: 100;
            text-decoration: underline !important;
        }
    }

    .alert-phone {
        width:180px;
        height:180px;
        margin:0 auto;
        display: flex;
        align-items: center;

        .obj-phone {
            display: block;
            width:130px;
            height:70px;
            border:2px solid #ffffff;
            border-radius: 10px;
            margin:0 auto;
            overflow: hidden;

            @include customani(landscapephone, 5s, infinite, ease-in-out);

            .obj-phone-con {
                width:100px;
                height:178px;
                position: absolute;
                top:50%;
                left:50%;
                background:url('https://multimedia.scmp.com/native/infographics/article/common/images/landscape.png') center center no-repeat;
                background-size: 100% 100%;
                transform: translateX(-50%) translateY(-50%);
                transform-origin: center center;
                @include customani(landscapephonecon, 5s, infinite, ease-in-out);
            }

            &:after {
                content:"";
                width:2px;
                height:30px;
                background-color: #fff;
                border-radius: 5px;
                position: absolute;
                right:5px;
                top:50%;
                transform: translateY(-50%);
            }
        }
    }
}

[data-section='kv'] {
    .scmp-backtotop {
        a {
            opacity: 0;
        }
    }
}


.scmp-backtotop {
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 9999999;
    opacity: 1;
    @include ani-select(transform 0.4s ease);

    a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:50px;
        height:50px;
        border-radius: 50%;
        background-color: $scmp-yellow;
        color:#000000;
        opacity: 1;
        @include ani-select(opacity 0.4s ease);

        &:hover {
            text-decoration: none;
        }

        span {
            display: block;
            position: relative;
            z-index: 2;
            font-family: $scmp-font-desc;
            font-size: 10px;
            color:#000000;
            text-transform: uppercase;
        }

        border:2px solid #fff4cd;
    }

    &.pos-top {
        transform: translate(0px, 100px) !important;
        @include ani-select(transform 0.4s ease);
    }
}

#progress {
    position: fixed;
    z-index:999999;
    bottom:0;
    left:0;
    width:100%;
    height:4px;

    span {
        position: absolute;
        top:0;
        display: inline-block;
        padding:0;
        margin:0;
        font-size:1px;
        line-height: 1;
        height:4px;
        background-color: $scmp-yellow;
    }
}