

footer {
	background-color: $scmp-dark;
    padding:30px 0px;
    font-family: $scmp-font-desc;
    color:#ffffff;

    .footer-inner {
        width: 98%;
        //max-width: 1200px;
        margin:0 auto;

        @include media($pc){
            max-width: 90%;
        }
    }
    a {
        display: block;
        color:#ffffff;
        opacity: 1;
        @include ani-select(opacity 0.5s ease);

        &:hover{
            opacity: 0.7;
        }
    }

    [class*='footer-link'] {
        display: flex;
        justify-content: space-between;

        @include media($pc){
            display: block;
        }
    }

    .footer-link {
        font-size:18px;
        margin-bottom:30px;

        @include media($pc){
            margin-bottom:40px;
        }
        .link-list {
            flex-direction: row-reverse;
            @include media($pc){
                display: block;
                margin-top:30px;
            }
            li {
                + li {
                    margin-right:20px;

                    @include media($pc){
                        margin-right: 0px;
                        margin-top:10px;
                    }
                }
            }
        }
    }

    .footer-link-sub {
        font-size:12px;
        flex-direction: row-reverse;

        .link-list {
            @include media($pc){
                margin-bottom:10px;
            }
            li {
                + li {
                    position: relative;
                    margin-left:22px;
                    &:before {
                        content:"";
                        display: block;
                        width:1px;
                        height:100%;
                        position: absolute;
                        top:0;
                        left:-10px;
                        background-color: #979797;
                    }
                }
            }
        }
    }

    .link-list {
        display: flex;
        padding:0;
        margin:0;
        li {
            padding:0;
            margin:0;
            list-style: none;
        }
    }
}

