@import './lib/mixins'; 
@import './settings/sassset';

/*
 * Homepage
 */

#hotspot {
    .sec-contents {
        position: relative;
        z-index:0;
        top:-180px;
        margin-bottom:-300px;

        @include res(phones){
            top:-25vw;
            margin-bottom:-25vw;
        }
    }
}
#map {
    width:100%;
    height:950px;

    @include media(1300px){
        height:800px;
    }

    @include res(tablets){
        height:600px;
    }

    @include res(phones){
        height:530px;
    }

    object {
        visibility: hidden;
    }

    &.amap-container {
        cursor:default;
        &.cursor-on{
            cursor:pointer;
        }
    }

    .amap-marker {
        pointer-events: none;
    }

    .region-label {
        position:relative;
        display:flex;
        align-items: center;
        justify-content: center;
        border:1px solid transparent;
        border-radius: 50%;
        width:88px;
        height:88px;

        .region-name {
            font-family: $font-desc;
            font-size: 18px;
            font-weight:bold;
            line-height:1;
            color:$color-mtr-blue;
        }

        .region-deco {
            position:absolute;
            top:10%;
            left:10%;
            pointer-events: none;
            width:80%;
            height:80%;
            border:1px solid $color-mtr-blue;
            border-radius:50%;
            opacity: 0;
            @include ani;

            &:before, &:after {
                position:absolute;
                top:-11%;
                left:-11%;
                display:block;
                content:"";
                width:120%;
                height:120%;
                border:1px solid $color-mtr-blue;
                border-radius:50%;
            }

            &:before{
                top:-7%;
                left:-7%;
                width:112%;
                height:112%;
                opacity:0.6;
            }

            &:after {
                top:-17%;
                left:-17%;
                width:130%;
                height:130%;
                opacity:0.2;
            }
        }

        &:after {
            opacity:0;
            position:absolute;
            top:39px;
            left:39px;
            content:"";
            display: block;
            width:0px;
            height:0px;
            background-color: $color-mtr-blue;
            border-radius: 50%;
            transform: rotate(45deg) translateX(40px) rotate(-45deg);
            @include ani-select(opacity 0.3s ease, width 0.3s ease, height 0.3s ease);
        }

        &:hover, &:focus, &.active {
            &:after {
                width:8px;
                height:8px;
                opacity:1;
                transform: rotate(45deg) translateX(80px) rotate(-45deg);
                -webkit-animation: orbit2 4s linear infinite;
                -moz-animation: orbit2 4s linear infinite;
                -o-animation: orbit2 4s linear infinite;
                animation: orbit2 4s linear infinite;
                @include ani-select(opacity 0.3s ease, width 0.3s ease, height 0.3s ease);
            }

            .region-deco {
                top:0%;
                left:0%;
                width:100%;
                height:100%;
                opacity: 1;

                &:before {
                    -webkit-animation: orbit0 1s linear infinite;
                    -moz-animation: orbit0 1s linear infinite;
                    -o-animation: orbit0 1s linear infinite;
                    animation: orbit0 1s linear infinite;
                }

                &:after {
                    -webkit-animation: orbit1 1s linear infinite;
                    -moz-animation: orbit1 1s linear infinite;
                    -o-animation: orbit1 1s linear infinite;
                    animation: orbit1 1s linear infinite;
                }
            }
        }

        @include res(tablets){
            .region-name {
                font-size: 14px;
            }
        }
    }
}

@-webkit-keyframes orbit0 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.8;}
	to   { top:-12%;left:-12%;width:120%;height:120%;opacity:0;}
}

@-moz-keyframes orbit0 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.8;}
	to   { top:-12%;left:-12%;width:120%;height:120%;opacity:0;}
}

@-o-keyframes orbit1 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.8;}
	to   { top:-12%;left:-12%;width:120%;height:120%;opacity:0;}
}

@keyframes orbit0 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.8;}
	to   { top:-12%;left:-12%;width:120%;height:120%;opacity:0;}
}

@-webkit-keyframes orbit1 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.5;}
	to   { top:-26%;left:-26%;width:150%;height:150%;opacity:0;}
}

@-moz-keyframes orbit1 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.5;}
	to   { top:-26%;left:-26%;width:150%;height:150%;opacity:0;}
}

@-o-keyframes orbit1 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.5;}
	to   { top:-26%;left:-26%;width:150%;height:150%;opacity:0;}
}

@keyframes orbit1 {
	from { top:-1%;left:-1%;width:100%;height:100%;opacity:0.5;}
	to   { top:-26%;left:-26%;width:150%;height:150%;opacity:0;}
}

$round:42px;
@-webkit-keyframes orbit2 {
	from { 	-webkit-transform: rotate(0deg) translateX($round) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX($round) rotate(-360deg); }
}

@-moz-keyframes orbit2 {
	from { 	-moz-transform: rotate(0deg) translateX($round) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX($round) rotate(-360deg); }
}

@-o-keyframes orbit2 {
	from { 	-o-transform: rotate(0deg) translateX($round) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX($round) rotate(-360deg); }
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX($round) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX($round) rotate(-360deg); }
}

#agency {

    .swiper-wrapper {
        @media only screen and (min-width:1024px){
            display:block !important;
            text-align:center;
        }
    }

    .swiper-pagination {
        position: relative;
        width:100%;
        text-align: center;
        display:none;
        
        @include res(tablets){
            display:block;
        }
    }
    .agency-list {
        margin-top:15px;

        @include res(tablets){
            margin-top:0px;
        }

        .swiper-slide {
            @media only screen and (min-width:1920px) {
                + .swiper-slide {
                    margin-left:0.5%;
                }
            }
            @media only screen and (min-width:1024px){
                display:inline-block;
                min-width:18%;
                max-width:342px;
            }
            @include media(1900px){
                margin:0 10px;
            }
            @include res(tablets){
                margin:0;
            }
        }

        .agency-item {
            position:relative;
            margin:0;
            margin-bottom:15px;
            border:1px solid #d6d7d7;

            @include res(tablets){
                border:none;
            }

            .agency-item_logo {
                position: relative;
                z-index:0;
                figure {
                    position: relative;
                    z-index: 0;
                }

                background-color: rgba(255,255,255,0.7);

                .agency-info__license {
                    display:none;
                }

                @include res(tablets){
                    border:1px solid #d6d7d7;
                    margin-bottom:3vw;

                    .agency-info__license { 
                        display:block;
                    }
                }
            }

            .agency-info__license {
                position: absolute;
                z-index: 1;
                bottom:5px;
                right:5px;
                font-family: $font-desc;
                line-height:1;
                color:$color-mtr-blue;
                text-align: right;
            }

            .agency-item_info {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:rgba(#f8b57d, 0.95);

                opacity:0;
                visibility: hidden;

                .agency-item_info__inner {
                    display:inline-flex;
                    flex-direction:column;
                    text-align:left;
                }

                [class*=agency_info__] {
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin:5px 0;
                    a {
                        font-family: $font-desc;
                        font-weight:bold;
                        color:$color-mtr-blue;
                        text-align: left;
                    }
                } 
                
                @include res(tablets){
                    position:relative;
                    top:inherit;
                    left:inherit;
                    width:100%;
                    height:auto;
                    opacity:1;
                    visibility: visible;
                    background-color:transparent;

                    .agency-item_info__inner {
                        display:flex;
                        width:100%;
                        flex-direction:column;
                        text-align:left;
                    }

                    .agency-info__license {
                        display:none;
                    }
                }
            }

            &:hover, &:focus, &.on-focus {
                .agency-item_info {
                    opacity:1;
                    visibility: visible;
                    @include ani(opacity, 0.3s, ease);
                }
            }
        }
    }
}

[class*=latest-list]{
    display: flex;
    justify-content: space-between;
    text-align: left;

    color:$color-mtr-blue;

    li {
        position:relative;
        max-width:330px;
        width:100%;
        + li {
            margin-left:20px;
        }
    }

    .article-item {
        a {
            max-width:100%;
            display: inline-block;
            color:$color-mtr-blue;
        }

    }

    .article-thumb {
        margin-bottom:20px;
    }

    .article-info {
        position:relative;
        margin-bottom:15px;
    }

    .arti-info_like {
        position: absolute;
        top:5px;
        right:0;
    }

    h4 {
        margin-bottom:10px;
    }
    .arti-tit_txt {
        font-family: $font-title;   
        font-size: 30px;
    }

    .article-btn {
        display:none;
        visibility: hidden;

        @include res(phones){
            display:block;
            visibility: visible;
        }
    }

}

#theme, #plan {
    [class*=swiper-button-], .swiper-pagination{
        display:none;
    }
    .swiper-pagination {
        position:relative;
        width:100%;
        margin-top:50px;
        text-align: center;        
    }

    .btn-slide-ctr { 
        top:25%;
    }

    @include media(1439px){
        .swiper-pagination{
            display:block;
        }
    }

    @include res(phones){
        .swiper-pagination{
            margin-top:13vw;
        }
    }
}

#theme {

    margin-bottom:150px;

    @include res(phones){
        margin-bottom:10vw;
    }

    .sec-inner {
        position: relative;
        z-index:9;
    }

    .sec-contents-bg {
        width:180%;
        height:600px;
        pointer-events: none;

        position:absolute;
        z-index:0;
        top:-150px;
        left:-40%;

        #wave-wrap {
            width:100%;
            height:600px;

            > div {
                display:block;
                &:nth-child(2) {
                    margin-top:-20px;
                    transform: rotate(180deg);
                }
            }
        }

        @media only screen and (max-width:1440px){
            top:-300px;
        }
        @include res(tablets){
            top:-200px;
            height:500px;
            #wave-wrap {
                height:500px;
            }   
        }
        @include res(phones){
            top:-70px;
            height:300px;
            #wave-wrap {
                height:300px;
            } 
        }
    }

    .latest-list {
        align-items: center;
        .swiper-slide{
            .article-item {
                width:100%;
                height:100%;
                display:flex;
                align-items: center;
                @include ani-select(width 0.3s ease);
            }

            @media only screen and (max-width:1439px) and (min-width:1023px){
                height: 46vw;
            }

            @media only screen and (max-width:1023px) and (min-width:768px){
                height: 65vw;
            }  

            .article-btn {
                padding-bottom:20px;
                display:none;
                visibility: hidden;
            }

            &.swiper-slide-active {

                .article-btn {
                    display:block;
                    visibility: visible;
                }
                
            }

            @include res(phones){
                .article-btn {
                    display:block;
                    visibility: visible;
                }
                
            }

            @media only screen and (min-width:1439px){
                &.swiper-slide-active {
                    z-index:10;
                    .article-item {
                        width:134%;
                    }
                }
    
                &:not(.swiper-slide-active){
                    .article-item {
                        width:84%;
                    }
                    &.swiper-slide-next{
                        z-index:9;
                        .article-item {margin-left:44%;}
                        + .swiper-slide {z-index:8;.article-item {margin-left:34%;}
                            + .swiper-slide {z-index:7;.article-item {margin-left:24%;}
                                + .swiper-slide {z-index:6;.article-item {margin-left:14%;}
                                }
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width:1439px) and (min-width:768px){
                &.swiper-slide-active {
                    .article-item {
                        width:124%;
                        max-width:124%;
                        @include ani-select(width 0.3s ease);
                    }
                }
                &:not(.swiper-slide-active){
                    .article-item {
                        width:80%;
                    }

                    &.swiper-slide-next{.article-item {margin-left:35%;}
                        + .swiper-slide {.article-item {margin-left:25%;}
                            + .swiper-slide {.article-item {margin-left:15%;}
                                + .swiper-slide {.article-item {margin-left:5%;}}
                            }
                        }
                    }

                }
            }

        }
        
    }

}

.sec-contents {
    position: relative;
    z-index:9;
    text-align: right;
    .btn-default-arrow {
        position:absolute;
        top:-80px;
        right:0px;

        @include res(tablets){
            top:-50px;
        }

        @include res(phones){
            top:-11vw;
        }
    }

}

.deco-go-down {
     position: absolute;
     z-index: 9;
     display:none;
     top:10%;
     left:2%;
     width:1px;
     height:100px;

     @include res(phones){
         left:6%;
     }
     .go-down_line {
        position:relative;
        display:block;
        width:1px;
        height:100px;
        background-color: $color-mtr-blue;
        i {
            position:relative;
            opacity: 1;
            display:block;
            width:1px;
            height:100px;
            @include ani;

            &:before, &:after {
                position:absolute;
                bottom:0%;
                left:0;
                content:"";
                display:block;
                transform: translateY(50%) translateX(-50%);
                border-radius: 50%;
            }
    
            &:before {
                bottom:100%;
                width:0px;
                height:0px;
                background-color: $color-mtr-blue;
            }
        
            &:after{
                bottom:0;
                width:0px;
                height:0px;
                border:1px solid $color-mtr-blue;
                opacity: 1;
            }
        }
    }

    &.go-ani {
        .go-down_line {
            i {
                &:before {
                    @include customani(deco-go-down-inner-dot);
                }
                &:after{
                    @include customani(deco-go-down-outer-dot);
                    -webkit-animation-delay: 0.8s;
                    animation-delay: 0.8s;
                }
            }
        }
    }
 }

// Background Decoration
.sec-bg {
    .sec-bg-group {
        .bg-item-top {
            position:absolute;
            top:-140px;
            right:0;
            width:100%;
            height:600px;
            background: url('#{$img}common/sections/deco-bg-top.png') right top no-repeat;

            @media only screen and (min-width:1920px){
                background: url('#{$img}common/sections/deco-bg-top.png') right top no-repeat;
                background-size:100% auto;
                top:-200px;
            }

            @include media(1920px){
                background-size:100% auto;
            }

            @include media(1440px){
                top:-100px;
            }

            @include res(tablets){
                top:-18vw;
                background: url('#{$img}common/sections/deco-bg-top_m.png') right top no-repeat;
                background-size:100% auto;
            }
        }

        .bg-item-mid {
            display:none;
            top:35%;
            right:0;
            width:100%;
            height:540px;
            background: url('#{$img}common/sections/deco-bg-mid.png') center center no-repeat;

            @media only screen and (min-width:1920px){
                background: url('#{$img}common/sections/deco-bg-mid.png') center center no-repeat;
                background-size:100% auto;
                height:1000px;
                top:20%;
            }
        }

        .bg-item-circle1 {
            top:50%;
            left:5%;
            width:630px;
            height:630px;
            background: url('#{$img}common/sections/deco-bg-mid-circle1.png') right center no-repeat;
        }

        .bg-item-circle2 {
            top:70%;
            left:-20%;
            width:520px;
            height:520px;
            background: url('#{$img}common/sections/deco-bg-mid-circle2.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                top:55%;
                left:-10%;
                width:52vw;
                height:52vw;
            }
        }

        .bg-item-circle3 {
            top:75%;
            left:90%;
            width:630px;
            height:630px;
            background: url('#{$img}common/sections/deco-bg-mid-circle1.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                top:80%;
                left:85%;
                width:63vw;
                height:63vw;
                display:none;
            }
        }

        .bg-item-circle4 {
            top:95%;
            left:10%;
            width:360px;
            height:360px;
            background: url('#{$img}common/sections/deco-bg-mid-circle4.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                top:90%;
                left:-15%;
                width:36vw;
                height:36vw;
            }

            @include res(phones){
                top:90%;
                left:-15%;
                width:43vw;
                height:43vw;
            }
        }
    }
}