@import './lib/mixins'; 
@import './settings/sassset';

/*
 * Sitemap
 */
#sitemap {
    padding-bottom:200px;
    min-height:300px;

    @include res(phones){
        padding-bottom:0;
    }

    .all-menu {
        display: flex;
        margin-top:60px;

        > li {
            flex:1;
            border-top:1px solid $color-mtr-blue;
            padding-top:30px;
            padding-left:40px;
            text-align: left;
            + li {
                margin-left:20px;
            }
            > ul {
                margin-top:20px;

                > li {
                    text-align: left;
                    + li {
                        margin-top:15px;
                    }
                }
            }
        }

        @include res(tablets){
            display: block;

            > li {
                border-top:1px solid $color-mtr-blue;
                margin-top:5vw;
                padding-top:5vw;
                padding-left:0px;
                + li {
                    margin-left:0px;
                }
                > ul {
                    margin-top:20px;
    
                    > li {
                        text-align: left;
                        display:inline-block;
                        + li {
                            margin-top:0;
                            margin-left:6vw;
                        }
                    }
                }
            }
        }

        @include res(phones){
            > li {
                padding-left:10%;
                > a {
                    flex:1;
                }
                > ul {
                    flex:1;
                    margin:0;
                    padding:0;
                    margin-top:5vw;
                    > li {
                        display:block;
                        + li {
                            margin-top:3vw;
                            margin-left:0;
                        }
                    }
                }
            }
        }

        a {
            display:inline-block;
            color:$color-mtr-blue;
            line-height:1;
            outline:2px solid transparent;
            @include ani;
    
            &:hover, &:focus {
              color:$color-mtr-blue;
              @include ani;
            }
    
            &.depth1 {
              font-family:$font-title;
              font-weight:bold;
              

            }
            &.depth2 {
              position:relative;
              font-family:$font-title;
              font-size:20px;
              line-height:1;
              padding-bottom:10px;
    
              @include media(1440px){
                font-size:18px;
              }
              @include res(phones){
                font-size:4.25vw;
              }
              
              &:after {
                content:"";
                width:0%;
                height:2px;
                position:absolute;
                bottom:0px;
                left:0;
                display:block;
                opacity:0;
                background-color: $color-mtr-blue;
                @include ani-select(width 0.3s ease);
              }
    
              &:hover, &:focus {
    
                &:after {
                  opacity:1;
                  width:100%;
                  @include ani-select(width 0.3s ease);
                }
              }
            }
          }
    }
}

// Background Decoration
.sec-bg {
    margin-top:0;

    .sec-bg-group {

        .bg-item-circle5 {
            $size:600px;
            width:$size;
            height:$size;

            top:-20%;
            right:-10%;
            background: url('#{$img}common/sections/deco-bg-mid-circle5.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:40vw;
                width:$size;
                height:$size;

                top:-15%;
                right:-10%;
            }

            @include res(phones){
                $size:100vw;
                width:$size;
                height:$size;

                top:-15%;
                right:-20%;
            }
        }

        .bg-item-circle6 {
            $size:360px;
            width:$size;
            height:$size;

            top:55%;
            right:28%;
            background: url('#{$img}common/sections/deco-bg-mid-circle6.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:24vw;
                width:$size;
                height:$size;

                top:75%;
                right:-10%;
            }

            @include res(phones){
                $size:74vw;
                width:$size;
                height:$size;

                top:85%;
                right:-10%;
            }
        }

        .bg-item-circle7 {
            $size:330px;
            width:$size;
            height:$size;

            top:25%;
            left:-5%;
            background: url('#{$img}common/sections/deco-bg-mid-circle7.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:22vw;
                width:$size;
                height:$size;

                top:65%;
                left:-10%;
            }

            @include res(phones){
                $size:62vw;
                width:$size;
                height:$size;

                top:45%;
                left:-10%;
            }
        }
    }
}

/* a11y set */
.a11y-on {
    #sitemap {
        .all-menu {
            a {
                &:focus, &:hover {
                    outline: 2px solid $color-mtr-blue;
                } 
            }
        }
    }
    
  }