@import './lib/mixins'; 
@import './settings/sassset';

/*
 * Theme
 */

 // Theme Detail
 .detail-item {
    text-align:left;
 }
 .detail-item-cont {   

    img {
        width:auto;
    }

    li {
        + li {
            margin-top:70px;
            @include res(tablets){
                margin-top:7vw;
            }
            @include res(phones){
                margin-top:5vw;
            }
        }
    }

    .article-list-item {
        position: relative;

        + .article-list-item {
            margin-top:90px;

            @include res(phones){
                margin-top:8vw;
            }
        }

        &:nth-child(2n) {

            .article-list-item_cont {
                flex-direction: row-reverse;
            }

            .article-list-item_bg {
                width:100%;
            }
        }

        $gabTop:5%;
        .article-list-item_cont {
            position: relative;
            z-index: 1;
            display:flex;
            align-items: stretch;
            justify-content: flex-start;
            border-top:1px solid transparent;

            $thumbW:56.78233438486%;
            .article-list_thumb {
                position: relative;
                z-index: 1;
                width:$thumbW;
            }

            .article-list_text {
                width:calc( 100% - #{$thumbW});
                position:relative;        
                z-index: 0;        
                display: flex;
                align-items: center;
                text-align: left;
                color:$color-mtr-blue;

                $indent:20px;
                .article-list_text-in {
                    margin:$indent;
                }

                .article-detail-list_tit {
                    font-family: $font-en;
                    font-weight: bold;
                    margin-bottom:30px;
                }

                .article-list_desc {
                    font-family: $font-default;
                    font-weight: bold;
                }
            }

            @include res(tablets){

                $thumbW:60%;
                .article-list_thumb {
                    width:$thumbW;
                }

                .article-list_text {
                    width:calc( 100% - #{$thumbW});
                }
            }

            @include res(phones){
                display: block;

                .btn-mobile-area {
                    pointer-events: auto;
                }

                $thumbW:95%;
                .article-list_thumb {
                    width:$thumbW;
                    margin:2.5% auto 0;
                }

                .article-list_text {
                    width:100%;

                    $indent:2.5%;
                    .article-list_text-in {
                        margin:5% $indent;
                        width:100%;
                        position:relative;
                    }

                    .article-detail-list_tit {
                        margin-bottom:5vw;
                    }
                }
            }
        }

        .article-list-item_bg {
            width:98%;
            height:100%;
            position: absolute;
            top:$gabTop;
            right:0;
            z-index:0;
            background-color: rgba(#e8d8cb, 0.5);

            @include res(phones){
                width:100%;
                height:100%;
                top:0;
            }
        }

        &.type-light {
            .article-list_text {
                color:$color-mtr-blue;
                .article-detail-list_tit {
                    color:$color-mtr-blue;
                }
            }
        }
    }
}

.detail-heading_img {
    margin-bottom:30px;
}

.detail-heading_desc {
    color:$color-mtr-blue;
}

.thumb-slide {
    position:relative;
    .swiper-pagination {
        bottom:10px;
        left:0;
        width:100%;
    }

    .btn-slide-ctr {
        top:calc(50% - 15px);

        @include res(phones){
            display:none;
        }
    }

    .btn-slide-ctr.swiper-button-prev {
       left:20px;
   }

    .btn-slide-ctr.swiper-button-next {
        right:20px;
    }
}

 // Background Decoration
.sec-bg {
    margin-top:0;

    .sec-bg-group {

        .bg-item-circle5 {
            $size:600px;
            width:$size;
            height:$size;

            top:600px;
            right:5%;
            background: url('#{$img}common/sections/deco-bg-mid-circle5.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:40vw;
                width:$size;
                height:$size;

                top:-15%;
                right:-10%;
            }

            @include res(phones){
                $size:100vw;
                width:$size;
                height:$size;

                top:-15%;
                right:-20%;
            }
        }

        .bg-item-circle6 {
            $size:360px;
            width:$size;
            height:$size;

            top:55%;
            right:80%;
            background: url('#{$img}common/sections/deco-bg-mid-circle6.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:24vw;
                width:$size;
                height:$size;

                top:75%;
                right:-10%;
            }

            @include res(phones){
                $size:74vw;
                width:$size;
                height:$size;

                top:85%;
                right:-10%;
            }
        }

        .bg-item-circle7 {
            $size:330px;
            width:$size;
            height:$size;

            top:25%;
            left:-5%;
            background: url('#{$img}common/sections/deco-bg-mid-circle7.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:22vw;
                width:$size;
                height:$size;

                top:65%;
                left:-10%;
            }

            @include res(phones){
                $size:62vw;
                width:$size;
                height:$size;

                top:45%;
                left:-10%;
            }
        }

        .bg-item-circle7 {
            $size:780px;
            width:$size;
            height:$size;

            top:85%;
            left:60%;
            background: url('#{$img}common/sections/deco-bg-mid-circle8.png') right center no-repeat;
            background-size:100% 100%;

            @include media(1440px){
                $size:42vw;
                width:$size;
                height:$size;

                top:75%;
                left:70%;
            }

            @include res(phones){
                $size:62vw;
                width:$size;
                height:$size;

                top:80%;
                left:70%;
            }
        }
    }
}