@import '../sasstarget/lib/all';
@import '../sasstarget/settings/all';

$color_base:#1e1d2b;
$color_highlight:#424242;
$color_shadow:#202020;
$color_focus:#44e981;
$color_focus2:#ff6aab;
$radius:3px;

html {
	background-color:$color_base;
	color: $maintxtColor;
}

html, body {
	font:16px/1 $font-dos;
}

a {
	cursor: pointer;
	text-decoration: none;
	&:hover, &:focus {
		cursor: pointer;
		text-decoration: none;
	}
}

img {
	display:block;
	@include center(auto, 100%);
}

body {
    position: relative;
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    &::after {
        content:"";
        position: fixed;
        z-index: 0;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        pointer-events: none;
        -webkit-box-shadow: inset 0px 0px 72px 0px rgba(darken( $color_base, 30% ),0.95);
        -moz-box-shadow: inset 0px 0px 72px 0px rgba(darken( $color_base, 30% ),0.95);
        box-shadow: inset 0px 0px 72px 0px rgba(darken( $color_base, 30% ),0.95);
        background: url('../images/line.png') repeat;
    }
    ::selection {
        background: rgba(255, 255, 255, 0.99);
        color:#000000;
    }
    ::-moz-selection {
        background: rgba(255, 255, 255, 0.99);
        color:#000000;
    }

    h2 {
        font-weight: normal;
        margin-bottom:5px;
        border-top:1px solid lighten( $color_base, 30% );
        border-bottom:1px solid darken( $color_base, 30% );
        background:rgba($color_base,0.8);
        padding:14px 0px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 0px rgba($color_base, 1);
        border-radius: $radius;
    }

    p {
        line-height: 1.4;
        font-weight: normal;
        margin-bottom:5px;
    }

    .lh-ico {
        font-family: $font-ico;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;        
        margin-left: .2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.lh-wrap {
    position: relative;
    z-index: 10;
    padding:20px;

    section {
        margin:50px auto 10px;
    }

    section + section {
        margin:40px auto 10px;
    }

    article {
        max-width:95%;
        margin:0 auto;
        width:510px;
    }

    input, textarea, button {
        display:block;
        width: 100%;
    }
    
    input, textarea {
        background:rgba($color_base,0.5);
        border:1px solid $color_base;
        color:#ffffff;
        padding:10px;
        resize: none;
        -webkit-border-radius:$radius; 
        border-radius:$radius;
        @include ani;
        @include box-sizing;
        &:focus {
            background:rgba(darken( $color_base, 7% ),0.9);
        }
    }

    button, a {
        color: #ffffff;
    }
    
    .lh-btn-encased {
        position: relative;
        color: #ffffff;
        padding:10px;
        background:rgba(darken( $color_base, 2% ),1);
        border:1px solid $color_base;
        -webkit-border-radius:$radius; 
        border-radius:$radius;
        @include box-sizing;
        @include ani;
        &:after {
            content:"";
            position: absolute;
            top:0px;
            left:0px;
            width: 100%;
            height: 100%;
            border-top:1px solid lighten( $color_base, 30% );
            border-right:1px solid darken( $color_base, 30% );
            border-bottom:1px solid darken( $color_base, 30% );
            border-left:1px solid lighten( $color_base, 30% );
            -webkit-border-radius:$radius; 
            border-radius:$radius;
            @include box-sizing;
        }
        
        &:hover, &:focus {
            color:#000000;
            border-top:1px solid lighten( $color_focus, 30% );
            border-right:1px solid darken( $color_focus, 30% );
            border-bottom:1px solid darken( $color_focus, 30% );
            border-left:1px solid lighten( $color_focus, 30% );
            background:$color_focus;
            @include ani;
        }
    }

    .error {
        label {
            color:$color_focus;
        }
        input, textarea {
            border:1px solid $color_focus;
            @include ani;
        }
    }

    .progress {
        pointer-events: none;
        .lh-form, button {
            opacity:0.5;
            @include ani;
        }
    }

    .hidden {
        display:none !important;
    }
}

/* Contact Form */
#lh-contact {
    position: relative;
    .lh-form {
        position: relative;
        z-index: 50;
        .lh-form-group {
            display: block;
            margin-bottom:10px;
        }
        .lh-form-label {
            display: block;
            margin-bottom:5px;
        }
    }
}

/* Message popup */
.lh-msg {
    position:absolute;
    z-index: 99;
    top:50%;
    left:0%;
    width:100%;
    height:auto;
    transform: translateY(-50%);
    text-align: center;
}

/* Project thumb */ 
.lh-img-thumb {
    position: relative;
    display:inline-block;
    z-index: 1;
    width:250px;
    height:100px;
    [data-block] {
        position:absolute;
        display:block;
        @include ani;
    }

    @for $i from 1 through 100 {
        [data-block]:nth-child(#{$i}) {
            transition-delay: 0.01s * $i;
        }
    }

    &:hover, &:focus {
        cursor: pointer;
        [data-block] {
            opacity: 0.05;
            border:1px solid $color_focus;
            @include ani;
        }
        @for $i from 1 through 100 {
            [data-block]:nth-child(#{$i}) {
                transition-delay: 0.01s * $i;
            }
        }
        .thumb_tit {
            opacity: 1;
            width: 100%;
            height:100%;
            top:0px;
            left:0px;
            @include ani;
            transition-delay: 0.2s;
        }
    }

    .thumb_img {
        position: relative;
        z-index: 0;
    }

    .thumb_tit {
        position: absolute;
        z-index: 1;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        border-top:1px solid lighten( $color_focus, 30% );
        border-right:1px solid darken( $color_focus, 30% );
        border-bottom:1px solid darken( $color_focus, 30% );
        border-left:1px solid lighten( $color_focus, 30% );
        background: rgba($color_focus, 0.03);
        border-radius:3px;
        display: flex;
        align-items: center;
        text-align: center;
        opacity: 0;
        @include ani;
        > div {
            width:100%;
            color:$color_focus;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 1px 1px 0px rgba(0, 0, 0, 1), 1px 1px 0px rgba(0, 0, 0, 1);
            text-transform: capitalize;
        }
    }
    .thumb_subtit {
        display:block;
        margin:10px auto 0px;
        font-size:9px;
        
    }
}

/* Logo */
@mixin logo-l {
    -moz-transform: skew(25deg, 0deg);
    -webkit-transform: skew(25deg, 0deg);
    -o-transform: skew(25deg, 0deg);
    -ms-transform: skew(25deg, 0deg);
    transform: skew(25deg, 0deg);
}

@mixin logo-r {
    -moz-transform: skew(-25deg, 0deg);
    -webkit-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg);
}

$varw:30px;
$varh:100px;
$varh-half:$varh/2;
$varw-half:$varw/2;
@mixin line-v {
    width:$varw;
    height:$varh;
}

@mixin line-w {
    width:$varw * 0.6;
    height:$varw - 2px;
}

@mixin line-w-l {
    width:$varw * 1.1;
    height:$varw - 2px;
}

@mixin line-v-half {
    width:$varw;
    height:$varh-half - $varw-half;
}

@mixin gradient-v {
    background: rgba($color_focus,0);
    background: -moz-linear-gradient(top, rgba($color_focus,0) 0%, rgba($color_focus,1) 20%, rgba($color_focus,1) 80%, rgba($color_focus,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color_focus,0)), color-stop(20%, rgba($color_focus,1)), color-stop(80%, rgba($color_focus,1)), color-stop(100%, rgba($color_focus,0)));
    background: -webkit-linear-gradient(top, rgba($color_focus,0) 0%, rgba($color_focus,1) 20%, rgba($color_focus,1) 80%, rgba($color_focus,0) 100%);
    background: -o-linear-gradient(top, rgba($color_focus,0) 0%, rgba($color_focus,1) 20%, rgba($color_focus,1) 80%, rgba($color_focus,0) 100%);
    background: -ms-linear-gradient(top, rgba($color_focus,0) 0%, rgba($color_focus,1) 20%, rgba($color_focus,1) 80%, rgba($color_focus,0) 100%);
    background: linear-gradient(to bottom, rgba($color_focus,0) 0%, rgba($color_focus,1) 20%, rgba($color_focus,1) 80%, rgba($color_focus,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44e980', endColorstr='#44e980', GradientType=0 );
}

.lh-logo {
    position: relative;
    left:50%;
    width:410px;
    height:100px;
    margin-bottom:30px;
    @include box-sizing;
    @include transform(scale(1));
    @include transform(translateX(-50%));
    zoom: 0.393; 
    transform-origin: center center;
    &.outline {
        > div {
            background:none;

            > div {
                width:100%;
                height:100%;
                position: relative;
                border-top:1px solid $color_focus;
                border-bottom:1px solid $color_focus;
                background-color: $color_focus;
                @include ani;
            }

            &:not(.line-r){
                > div {
                    &:before, &:after {
                        opacity: 1;
                        @include ani;
                    } 
                }
            }
        }
    }

    > div {
        display: block;
        //background-color:#ffffff;
        border-top:1px solid rgba(255,255,255,0);
        border-bottom:1px solid rgba(255,255,255,0);
        position:absolute;
        @include ani;
        @include box-sizing;
        &:not(.line-r){
            > div {
                &:before, &:after {
                    content:"";
                    display:block;
                    position: absolute;
                    width:2px;
                    height:160%;
                    top:-100%;
                    opacity: 0;
                    @include gradient-v;
                    @include ani;
                }

                &:before {
                    left:0px;
                }

                &:after {
                    right:0px;
                }
            }
        }

        &:nth-child(1){
            top:0px;
            left:0px;
            @include line-v;
            @include logo-l;
        }

        &:nth-child(2){
            top:0px;
            left:$varw *1.5;
            @include line-v;
            @include logo-l;
        }

        &:nth-child(3){
            top:0px;
            left:$varw *3.5;
            @include line-v;
            @include logo-l;
        }

        &:nth-child(4){
            top:0px;
            left:$varw *5.05;
            @include line-v;
            @include logo-r;
        }

        &:nth-child(5){
            top:0px;
            left:$varw * 7.55;
            @include line-v-half;
            @include logo-r;
        }

        &:nth-child(6){
            bottom:0px;
            left:$varw * 6.65;
            @include line-v-half;
            @include logo-r;
        }

        &:nth-child(7){
            top:0px;
            left:$varw *9.05;
            @include line-v;
            @include logo-r;
        }

        &:nth-child(8){
            top:0px;
            left:$varw *11.05;
            @include line-v;
            @include logo-r;
        }

        &:nth-child(9){
            top:0px;
            left:$varw *12.55;
            @include line-v;
            @include logo-r;
        }

        &:nth-child(10){
            bottom:0px;
            left:$varw + 15px;
            @include line-w;
            @include logo-l;
        }

        &:nth-child(11){
            top:0px;
            left:$varw *1.9;
            @include line-w-l;
            @include logo-l;
        }
        &:nth-child(12){
            top:$varw + 6px;
            left:$varw *2.45;
            @include line-w-l;
            @include logo-l;
        }

        &:nth-child(13){
            bottom:0px;
            left:$varw *3;
            @include line-w-l;
            @include logo-l;
        }

        &:nth-child(14){
            top:0px;
            left:$varw *10.6;
            @include line-w-l;
            @include logo-r;
        }

        &:nth-child(15){
            top:$varw + 6px;
            left:$varw *10;
            @include line-w-l;
            @include logo-r;
        }
        &:nth-child(16){
            bottom:0px;
            left:$varw *9.45;
            @include line-w-l;
            @include logo-r;
        }

        &:nth-child(17){
            top:0px;
            left:$varw *12.55;
            @include line-w;
            @include logo-r;
        }

        &:nth-child(18){
            bottom:0px;
            left:$varw *11.45;
            @include line-w;
            @include logo-r;
        }
    }

    > div {
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
                transition-delay: 0.03s * $i;
                &:not(.line-r){
                    > div {
                        &:before, &:after {
                            transition-delay: 0.1s * $i;
                        }
                    }
                }
            }
        }
    }

    &.ani-line {
       > div {
            background-color:rgba($color_focus, 0.1);
            border-top:1px solid $color_focus;
            border-bottom:1px solid $color_focus;
            @include ani;
            &:not(.line-r){
                > div {
                    &:before, &:after {
                        opacity: 1;
                        @include ani;
                    }
                }
            }

            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.06s * $i;
                    &:not(.line-r){
                        > div {
                            &:before, &:after {
                                top:-30%;
                                transition-delay: 0.05s * $i;
                            }
                        }
                    }
                }
            }
       }
    }

    &.ani-color {
        > div {
            background-color:rgba(#ffffff, 1);
            border-top:1px solid rgba(255,255,255,0);
            border-bottom:1px solid rgba(255,255,255,0);
            @include ani;
            &:not(.line-r){
                > div {
                    &:before, &:after {
                        opacity: 1;
                        @include ani;
                    }
                }
            }

            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.06s * $i;
                    &:not(.line-r){
                        > div {
                            &:before, &:after {
                                top:80%;
                                opacity:0;
                                transition-delay: 0.05s * $i;
                            }
                        }
                    }
                }
            }
       }
       &:hover {
            > div {
                background-color:rgba($color_base, 1);
                border-top:1px solid $color_focus;
                border-bottom:1px solid $color_focus;
                -webkit-box-shadow: inset 0px 0px 10px 0px rgba(68,233,129,1);
                -moz-box-shadow: inset 0px 0px 10px 0px rgba(68,233,129,1);
                box-shadow: inset 0px 0px 10px 0px rgba(68,233,129,1);
                @include ani;
                &:not(.line-r){
                    > div {
                        &:before, &:after {
                            opacity: 1;
                            @include ani;
                        }
                    }
                }

                @for $i from 1 through 100 {
                    &:nth-child(#{$i}) {
                        transition-delay: 0.06s * $i;
                        &:not(.line-r){
                            > div {
                                &:before, &:after {
                                    top:-30%;
                                    opacity:1;
                                    transition-delay: 0.05s * $i;
                                }
                            }
                        }
                    }
                }
            }
       }
    }
}

.lh-logo-desc{
    text-align: center;
    font-size: 12px;
    letter-spacing:1px;
}

/*
     NOTE: Popup Detail
*/
.lh-popup {
    display: block;
    position:fixed;
    z-index: 99;
    top:40px;
    left:50%;
    width:1000px;
    max-width:95%;
    height:calc(100% - 80px);
    border:1px solid #000000;
    background-color:rgba(darken($color_base, 30%), 0.9);
    border-radius:3px;
    opacity: 1;
    @include transform(translateX(-50%));
    @include ani;
    overflow: hidden;
    &.active {
        top:40px;
        opacity: 1;
        @include ani;
    }
    &:after {
        content:"";
        display:block;
        width:300%;
        height:100%;
        position: absolute;
        z-index: 0;
        top:0px;
        left:-200%;
        background: rgba(0,255,183,1);
        background: -moz-linear-gradient(-45deg, rgba(0,255,183,1) 0%, rgba(253,255,189,1) 19%, rgba(173,255,207,1) 37%, rgba(0,255,183,1) 56%, rgba(253,255,189,1) 76%, rgba(125,250,171,1) 94%, rgba(125,250,171,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,255,183,1)), color-stop(19%, rgba(253,255,189,1)), color-stop(37%, rgba(173,255,207,1)), color-stop(56%, rgba(0,255,183,1)), color-stop(76%, rgba(253,255,189,1)), color-stop(94%, rgba(125,250,171,1)), color-stop(100%, rgba(125,250,171,1)));
        background: -webkit-linear-gradient(-45deg, rgba(0,255,183,1) 0%, rgba(253,255,189,1) 19%, rgba(173,255,207,1) 37%, rgba(0,255,183,1) 56%, rgba(253,255,189,1) 76%, rgba(125,250,171,1) 94%, rgba(125,250,171,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0,255,183,1) 0%, rgba(253,255,189,1) 19%, rgba(173,255,207,1) 37%, rgba(0,255,183,1) 56%, rgba(253,255,189,1) 76%, rgba(125,250,171,1) 94%, rgba(125,250,171,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0,255,183,1) 0%, rgba(253,255,189,1) 19%, rgba(173,255,207,1) 37%, rgba(0,255,183,1) 56%, rgba(253,255,189,1) 76%, rgba(125,250,171,1) 94%, rgba(125,250,171,1) 100%);
        background: linear-gradient(135deg, rgba(0,255,183,1) 0%, rgba(253,255,189,1) 19%, rgba(173,255,207,1) 37%, rgba(0,255,183,1) 56%, rgba(253,255,189,1) 76%, rgba(125,250,171,1) 94%, rgba(125,250,171,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffb7', endColorstr='#7dfaab', GradientType=1 );
        animation: flash 4s linear infinite alternate;
    }

    .content_inner {
        max-width:95%;
        margin:0px auto;
        padding:15px;
    }

    .lh-popup_inner {
        position: relative;
        z-index: 10;
        width:calc(100% - 4px);
        height:calc(100% - 4px);
        border-radius:3px;
        margin:2px auto 2px;
        overflow-x:hidden;
        overflow-y:auto;
        
        .lh-pj-header {
            position: absolute;
            z-index: 0;
            top:0px;
            left:0px;
        }

        .lh-pj-content {
            position: absolute;
            z-index: 10;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            overflow-y:auto;
            scrollbar-color: red yellow;
            &::-webkit-scrollbar {
                width: .3em;
                height: .3em;
                background:#000;
            }
            &::-webkit-scrollbar-thumb {
                background: $color_focus2;
                border-radius: .5em;
                -webkit-box-shadow: inset 2px 2px 2px rgba(darken($color_focus2, 50%), .25), inset -2px -2px 2px rgba(darken($color_focus2, 50%), .25);
                box-shadow: inset 2px 2px 2px rgba(darken($color_focus2, 50%), .25), inset -2px -2px 2px rgba(darken($color_focus2, 50%), .25);
            }
            .pj-content_wrap {
                $dis: 400px;
                position: relative;
                top:$dis;
                min-height:calc(100% - #{$dis});
                background: #1c1c20;
                &:before {
                    content:"";
                    display: block;
                    position: absolute;
                    top:-#{$dis};
                    left:0px;
                    width:100%;
                    height:$dis;
                    background: rgba(28,28,32,0);
                    background: -moz-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,28,32,0)), color-stop(31%, rgba(28,28,32,0)), color-stop(78%, rgba(28,28,32,0.71)), color-stop(97%, rgba(28,28,32,1)));
                    background: -webkit-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
                    background: -o-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
                    background: -ms-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
                    background: linear-gradient(to bottom, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c20', endColorstr='#1c1c20', GradientType=0 );
                }
            }
        }

        .lh-pj-footer {
            position:absolute;
            z-index:20;
            bottom:0px;
            left:0px;
            width:100%;
            height:70px;
            border-top:1px solid red;
            background: rgba(28,28,32,0);
            background: -moz-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,28,32,0)), color-stop(31%, rgba(28,28,32,0)), color-stop(78%, rgba(28,28,32,0.71)), color-stop(97%, rgba(28,28,32,1)));
            background: -webkit-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
            background: -o-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
            background: -ms-linear-gradient(top, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
            background: linear-gradient(to bottom, rgba(28,28,32,0) 0%, rgba(28,28,32,0) 31%, rgba(28,28,32,0.71) 78%, rgba(28,28,32,1) 97%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c20', endColorstr='#1c1c20', GradientType=0 );
        }
    }
}

.lh-dimmed{
    display: none;
    position:fixed;
    z-index: 90;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(darken($color_base, 30%), 0.5);
}

@-webkit-keyframes flash {
    from {
        left:-200%;
    }
    50% {
        left:0%;
    }
    to {
        left:-200%;
    }
  
}
  
  @keyframes flash {
    from {
        left:-200%;
    }
    50% {
        left:0%;
    }
    to {
        left:-200%;
    }
}

.lh-pj-header {
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
    background:#000;
    background-position: center top;
    background-repeat: no-repeat;
    background-size:100% auto;
}

/*
     NOTE: Footer link
*/

.lh-footer-link{
    text-align: center;
    a {
        border:none;
        padding:0px;
        margin:0px;
        &:after {
            display: none;
        }
        @include ani;

        &:focus, &:hover {
            color:$color_focus;
            margin:0;
            padding:0px;
            border:none;
            &:after {
                display: none;
            }
            @include ani;
        }
    }
}
